# Web_Scraping_Assignment_3

In [326]:
#importing the required libraries
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
import time
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.common.keys import Keys

**Q1. Write a python program which searches all the product under a particular product from www.amazon.in. 
The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search 
for guitars.**

In [333]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [334]:
#passing the url and maximising the tab
url='https://www.amazon.in/'
driver.get(url)
driver.maximize_window()

In [335]:
#getting input from the user and passing the input to search bar by sending keys,then clicking the search button
input_=input('Enter the product you want to Search:\n')
Search_bar=driver.find_element_by_xpath('//input[@class="nav-input nav-progressive-attribute"]')
Search_bar.send_keys(input_)
Search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
Search_btn.click()
print(f'Your Product named {input_} has been searched.')

Enter the product you want to Search:
monitor
Your Product named monitor has been searched.

**Q2. In the above question, now scrape the following details of each product listed in first 3 pages of your 
search results and save it in a data frame and csv. In case if any product has less than 3 pages in search 
results then scrape all the products available under that product name. Details to be scraped are: "Brand 
Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and 
“Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.**

In [336]:
#making empty lists to pass data
brand=[]
prod=[]
pric=[]
rtrn_ex=[]
p_url=[]
delivery=[]
Avail=[]

In [337]:
#getting the required fields then clicking next to scrape next page
k=0
for j in range(3):
    Next=driver.find_element_by_xpath('//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    b_name=driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
    price=driver.find_elements_by_xpath('//span[@class="a-price"]')    
    e_del=driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none a-spacing-top-micro"]')
    for i in range(len(b_name)):
        brand.append(b_name[i].get_attribute('textContent').split()[0])
        prod.append(b_name[i].get_attribute('textContent'))
        pric.append(price[i].text)
        rtrn_ex.append('-')
        p_url.append(b_name[i].get_attribute('href'))
    for i in range(len(e_del)):
        if 'left in stock' in e_del[i].text:
            Avail.append(e_del[i].text.split('\n')[-1]+' at '+str(i))
        else:
            try:
                int(e_del[i].text.replace(',',''))
            except:
                if e_del[i].text.split('\n')[0]=="":
                    delivery.append('-')
                else:
                    delivery.append(e_del[i].text.split('\n')[0]) 
    Next.click()
    time.sleep(5)

In [338]:
#checking the length  of lists
len(delivery),len(brand),len(prod),len(pric),len(rtrn_ex),len(p_url),len(Avail)

(67, 70, 70, 70, 70, 70, 7)

In [339]:
Avail,len(prod)

(['Only 1 left in stock. at 29',
  'Only 1 left in stock. at 51',
  'Only 2 left in stock. at 25',
  'Only 1 left in stock. at 38',
  'Only 2 left in stock (more on the way). at 18',
  'Only 2 left in stock. at 34',
  'Only 1 left in stock. at 42'],
 70)

In [340]:
availability=[]
for i in range(62):
    availability.append('-')

In [341]:
df=pd.DataFrame()
df['Brand Name']=brand[:62]
df['Name of the Product']=prod[:62]
df["Price"]=pric[:62]
df["Return/Exchange"]=rtrn_ex[:62]
df["Expected Delivery"]=delivery[:62]
df["Availability"]=availability[:62]
df['Product URL']=p_url[:62]

In [342]:
df

,Brand Name,Name of the Product,Price,Return/Exchange,Expected Delivery,Availability,Product URL
0,BenQ,"BenQ GW2780T 68.58 cm (27"") 1080p IPS Eye-Care...","₹18,990",-,"Get it by Tuesday, April 5",-,https://www.amazon.in/gp/slredirect/picassoRed...
1,BenQ,"BenQ EW2780 27""(68.58cm) Eye-Care, Entertainme...","₹17,490",-,"Get it by Tuesday, April 5",-,https://www.amazon.in/gp/slredirect/picassoRed...
2,Acer,Acer 21.5 Inch Full HD IPS Ultra Slim (6.6mm T...,"₹10,999",-,"Get it by Tuesday, April 5",-,https://www.amazon.in/Acer-HA220Q-21-5-inch-Ul...
3,Acer,Acer Aopen 21.5 inch Full HD 1920 X 1080 Resol...,"₹8,999",-,"Get it by Wednesday, April 6",-,https://www.amazon.in/Acer-Aopen-22CH1Q-21-5-i...
4,LG,"LG 22 inch (55 cm) IPS Monitor - Full HD, with...","₹10,999",-,"Get it by Tuesday, April 5",-,https://www.amazon.in/LG-22-inch-IPS-Monitor/d...
...,...,...,...,...,...,...,...
57,PHILIPS,PHILIPS 276E8VJSB 27 inches 3840 x 2160 Pixels...,"₹23,036",-,"Get it by Wednesday, April 6",-,https://www.amazon.in/PHILIPS-276E8VJSB-Ultran...
58,ViewSonic,ViewSonic VX2481-MH 24 inches FHD 1920 x 1080 ...,"₹16,669",-,"Get it by Wednesday, April 6",-,https://www.amazon.in/gp/slredirect/picassoRed...
59,AOC,"AOC 24B1XHS 23.8"" LCD Monitor withHDMI/VGA Por...","₹9,854",-,"Get it by Friday, April 8",-,https://www.amazon.in/gp/slredirect/picassoRed...
60,Lenovo,Lenovo ThinkVision S24e-20 23.8-inch FHD Monit...,"₹11,690",-,"Get it by Tuesday, April 5",-,https://www.amazon.in/Lenovo-ThinkVision-S24e-...
61,Lumi,"Lumi Brateck Quad Monitor Stand With 13-32"" Su...","₹5,550",-,"Get it by Tuesday, April 5",-,https://www.amazon.in/LUMI-ECONOMICAL-Adjustab...

In [ ]:
df.to_csv('Monitor.csv')

**Q3.Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.**

In [343]:
driver=webdriver.Chrome('chromedriver.exe')

In [344]:
url='https://images.google.com/'
driver.get(url)

In [345]:
search_bar=driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
time.sleep(2)
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button')

In [346]:
lists=['cars','Machine Learning','Guitar','Cakes']
search_bar.send_keys('fruits')
search_btn.click()
time.sleep(2)
image_=driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')
fruit=[]
cars=[]
ML=[]
guitar=[]
cakes=[]
for i in range(10):
    fruit.append(image_[i].get_attribute('src'))    
for i in lists:
    search_btn2=driver.find_element_by_xpath('/html/body/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/button')
    search_bar2=driver.find_element_by_xpath('/html/body/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
    search_bar2.clear()
    search_bar2.send_keys(i)
    search_btn2.click()
    image_=driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')
    if i == 'cars':
        for i in range(10):
            cars.append(image_[i].get_attribute('src'))
    elif i == 'Machine Learning':
        for i in range(10):
            ML.append(image_[i].get_attribute('src'))
    elif i == 'Guitar':
        for i in range(10):
            guitar.append(image_[i].get_attribute('src'))
    elif i == 'Cakes':
        for i in range(10):
            cakes.append(image_[i].get_attribute('src'))
    search_bar2=driver.find_element_by_xpath('/html/body/c-wiz/div/div[3]/div[2]/div/div[1]/form/div[1]/div[2]/div/div[2]/input')
    time.sleep(4)

In [347]:
print(fruit[0],'\n\n\n',cars[0],'\n\n\n',ML[0],'\n\n\n',guitar[0],'\n\n\n',cakes[0])

data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhURExMWFRUWFx0bFxgYFh0dHRciHhgWIBkfGh4dHiggGCElHxcXIzEiJSkrLi4uFx8zODMuNygtLisBCgoKDg0OGxAQGy0mICYtLS0tKy0tLS0tMi0tLS0tLS0wLS0tLS0tLS8tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAKgBLAMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAFAAMEBgcCAQj/xABBEAACAQIEBAQEBAQEBAYDAAABAhEAAwQSITEFBkFREyJhcQcygZEUQqGxI1Ji0ZLB4fAVFjPxU3JzorLSJEOC/8QAGgEAAgMBAQAAAAAAAAAAAAAAAgMBBAUABv/EADMRAAEEAAQDBgUEAwEBAAAAAAEAAgMRBBIhMRNBUQVhcYGR8CKhscHRFDJS4SNC8VMz/9oADAMBAAIRAxEAPwDca4zCYnXt/v2rm+xCnKAWjQEwCegnpUK4M7ow0zIfoQUKz7GR9aglciVKhq32TxHY5kBkaeYeUGN9ZJgVE4YLzZXukgzLIGlREjeNdST6kADQaxmXIu99QQCQCYge8x+xp6quA9zw3uEEsbhXQbW5NqPWfP12qxWLeVVWSYAEncwNzXNda7RPUqVeE0S5e0qDtjLrkFMqp1kSx7RrA+xqu858yX8KoIaFbRWVBIaNmLSPsOlVTjI+/wBPf4T48O6R4YKvxV6pVUeQ+bPxiMlyFv2/mA0DDowHT1H96t1WGODhmCXJG6NxY7cJUqVeSKJAvaVBuZuJtYsm5bUMwIEHpPWJE9PvVe4TzoHP8VltQB+QlW1jTXMp1EbjSlOma12UpgicWB2mpoDnYrl5q9Uqz7mXmZrgQ4W7tOcDMpmRHYnr0irTy7jxew6OXDOBFwxEMNwRA/bXeoZM17y0KxNgpIYWyv56VRBHjeyMUq8Fe05U0qVKgfE+P27LFMrO4AJVRsCYX3J/TrFQ5waLKNkbnmmi0ZuXAoliAO5MCob8UtC4trNLNG2sTqJ96x3mnjF7GXyC3h25i1bdgIHVmgkfUT9hXPJPHRaxGa8rFbQyrBEZjpJ17TEVRdjDmoAAA6k9PBV5HujeWOFUaNrc6VROHY5L1sXEnKe4qXV5rg4WNk1KlUPH8QtWEz3ri217sQPoO59BVF4z8ShquDtFz/4twFV+i6M31j60LpGt3KguA3WjUqwTiXMV9zmv4y76C25QfRViftRbkvnZ7Ac3/wAReDEZQzzkHUyxJJPYwBHrQCdvPRBxBa2WlTGExC3ES4hlXUMp9CAR+hp0sBvTrTF1SoLxjmOxhigusRn1BAnqB+5qs8T5qdwcjZEbUaQwHaeh70mSdjO89Anfp5OHxCPh69daV8DgkiRI3HadppyqHyvxgRfCMty6qByuaerb920Ont3q5YG/4ltHIgsoMTtNdDLxB0PTohdE5rcx2/q9t1KpUqVOS0G5s4q2Fwl7EKuY21mO0kCT6CZ+lZHxXnR7oJe+y5FMKoKhmJn8plTmiCdP3rbsVh1uI1txmVgVYHYgiCD3BFZxxb4P2HJazfuW9ICtDKP0zfr0pMsbnnQq5hcRHECHMBPI8/wq7/xrE3Usf/kMylSYD5A8EQZZVlh6z8nvXS81XXupGICMVy6mMsNPTygmW16xrEim8Z8NuIplS2LV0KIzBgm20hj2ioLfDDiSkZbav3PiKI+5qsYpTdrQZPg20RuQQdAKvfl7pP4rmq8CFe602gFUIwKsIgwQ0AgE6wZ61oHw25mfGLeV8xFoqVdokh80Bo0JGXfsRNVzhfwjdmV8TiIGXW3bTUH/ANQsRuf5a0Xl3gFjBWvBsKQsySTLMT1J67D7U6KJ4IJKqYnEQOYWMb4Gqr0+9ovWXcS57L3sTaFw2VssVUKAWuEEjUnYkiYA2NajVA5w5E8UvfwoXxXbM6M0Kxgag65dtdDM0WIa9zKZ+EnByRMkuQaev5+hUvhPFPHwS3rZ1KfqNGH3BqNzLaGJ4dezDzC2WHoyDMP1FCeTeD8QwAupiLKtYc5gLLG4yN+by5RKnfTqNjNGeL23u4W5bs2rym4rID4LAgsCJytl013MD9qzDBK12UD8bqS5ofbNrsFZlyXj7lrGYa4g1Zgjj+YMYP6Efavoesy+HPIl3DkXsVlLr/01E5V/qMiS3boPXpptaeHjcxpB6qMZM2V4LeiVZp8Q+H52N9b9sogHiJKsyCQCQN4kz0jWtKNUJ+Sr34hH8UNZRgQrbwDsdNex7gnvXThzgAAmYCRkbnSOdRA0FXfd3ezyo0vF8057aJczMlu2FtswIzZfzE6ydBrptQLHcQlXFsw28nQQNTqdJ0rQOL/Dq810PZuoEV8yqw+XzE5RptrHtUe78P8AFXiVvMmU9ZB2M6QJFVTC8PurtaD5cFKGvJy5NQBepNGvXwvXcFUO7jL10LcyNbaZz5dI6zrtOs1fOWjiMzYVXhbwbPcUSFIX5pmQSYHYgnapuA+G1wSl3EZrZEQJkjpvoKs/AuU7WFnIzEkQS0bfSiZh3Z72CZie1IXQloJLqFaaA/Yjf08xPI2Ktq72vEZ2I8pyQjRqSp6mDOoGlXmq1wHlK3hrrXVdmmcqnZJ7d9NParLVqBhYzKVk4+aOaYyMJ1A3rfyVe5yxz2sOHSQC6h4MHLqWynodAJ9ayjE8aa8/gohdng52fURM5mYmBqOvStd5qwN69hmtWCoZonN1HUA9Dtr/AN6zXgfJONwrXrzW0lwFVVOZtDMgDQD60mVr3Sc6pH2djDDOxugGtnqeVnetAO7pqgfGrt3S1iLPmZgqOPlWBoDt07xvVq+HPCLPiZiouI2ZVDIDlIggmSYJAOntXn/KmJxiNaujwQGVlZrfUAgQsjSCatfJ/KRwklrgcnspUe8EmhZDZDiFfx78G5rg7KZKFEC/IHYVfpob3VqVQBAEAbAUD5p4pcsW4sgG4wYgtsgWJMdT5hA/tBP0N4zwe1iUyXVJA2KsVYd4II3qzIHFhDDRWAVgPF+Ml7ha9ca/c6azH+Sj0EVFtG5d6hVH7H9KO4z4b8S8S54OGREZjGbEBjHQSSTp6+tFeAfCTFNrjL6206pal2P1YBV+zUjgkDRIDCqnZS2pAA8R20ESST2Eat9Jq9cu8g378PiSbFrfwwP4jD1/8P6yfQVoHAeWMLg1ixaAbq58zt7sdfoNPSjVG3DtGrkwMHNNWbQRQiiFUAADoAIAqoc2cGxBFx7DO/iDVQwBUxpBO49OlXSlTXsDxRVrDzugfmbXmsJx4uIqYfFK6NElVZSS+pRDmkEBfMSeh33qJZt3y83mXJb1dUPzSATHmJ26Dt9tH5w4HicS4y4ex28QEFx//TFY+xqqYr4Y31t3G8rs8SBccwBuYMAnsBNUnQkXV0tjDY+KSo3/AA3vsAT41zP9k84aWrRW9is9uyqsiAMkFgADqGg65xA7CtB+H2KL2mJdWBgjK4O8z5d1G2/9yafwzkW/mIyTaugBmuRm2IJg6gRsIq1cI+HlnDut21euq67EZR7gwIYHsamGN7XZq+3/AFK7TnFcNrg6ySeoqqG++99enM3alXFsEAAmT3iJrur6xUqhcTvMlp3QSwGmhP1gamN4GpiptKuOylpAIJFquNxi8mabXiCfKyqyA6W91IYgS5gydj707c4xcCs/gnKsdTmM3GRQAVAnyyddAw3o9TboDoQDsfsZH6gUAa7qnmWI1cY79T9qA8hz2XSTAnQ9a6pUqNV0xiXKozAZiASB3gaCgH/Gbog5VuKcmqIwgk3SwgkzAtxMiCRprAs1Khc0nY0mxvY0EObfv33dbVcbmBwSDYaQpO+nXY5dRpqehIEVIt8YLC6fCYeGYE6ZpaJOkqBGY6HQg+lG6VRld1+SIyREaM+Z+6rmF43dbIPBOYhC+jDcLmgRp82knprRPhGNN22LhQpJIgn/AH/3miFKua1w3NqJJI3D4WV5kpUCxPF3Q3JUEK0BQGDRE5i2og7AAbwJ3g7SqXAnYoY3NafiF/JAbvG3USbDRHfXe4BIy6DyEnsCN6jrzBcBJNloOXKIIOsSJ1DHWYEaKTVmpUJa7+XyTBLF/wCfzKB3OLuLYbwoYsVgkwIEjXLrOkDSddaaXj1zMqnDvmIHXyyWjQxt3PSR71YaVSWu6qBJFzZ8z7pCcLxJmdUNoqWVmBmQApIM6CDOTT+v0NFqb8MTmgTET1jtTlEAeZSnlp/aKQviWLZGQDKAxMswJGkQogjVpMH061EPG3lV8Ey6qQMx0zRE+XQa79ww6TR+lUEO5FMY+MABzL8yPp7+arOH5icjzWWkvGmkAs8AyNGhdusgyJipScYfKpNkjMyIPN1dAw/KNBIBPQz2o5TbWwYJAMGR6GCJHbQn70Ia7+XyRGSEnSP5lOUqVKmKuq+nGX1lJJYgKitmWGAytOjGCW6CFPvS/wCOtAiySxEwGMbgb5PUjbdTVgpUGV3VWDJEf9Pn7/PfarR484ZpsGAgIAmZ88knLGWAsnoT1mifC8a11SxQoBAEmSfKpPTbWJ6+lEqVc1rgdTaiSSNw+FlHxKVQuI3WW2zIJYDTQn6wNWjeBqYqbSojsktNEEoCvFbkhRaLnctldFIyhpAKtE+YATuvrXp4jdK3R4UOlnOIObUrKKBlBJkOCP6R/NR2uQo3jfehyu/kncSP+A9Tvfp5V+EAXjN4kKMO2sanMBrcyz8k5QPNJAPp1qXhOIO1xbbWsua3nJzTlEkAGVBzbae/ai1cZRMxr3+/9z964NdzKh0kZGjAPM/ld0qVeUaSvaVKqNzTzVds3blhMogKQwBzCY0gghpnfpB+ippmxNzOUtaTsrzULE8Qt29GaD2/3tWcNzFirQD52MmdTIOvbapfCeJHEZi3zHU+s1j4ztgxx5om2bo3/SuQYVrycx9Fa8NzJau3UtWyGDSGJOUqQJAgjzT6UerOL/B1LK4JUrOWOnt9auvBr7PaGbVlME946/aj7M7VGKcY3fu38tP++fchxGG4YzDUIlSrl2AEnYb1m/O3xIOFIWyqszbTsBMCfetd8gZV81TJpaNcuqu7AT3Ndg1828wc24i5is6zchVzkEkA9Y0GUdh6daufLfxPKoA1s3AYAUHzT3GnXQR3HrSuMWu+Iadd/Vda2ClVc/43/HRSCBcbIFPQjNJ36NoSPSrHTmvDrrkpSqBiMeqXLdqCXuSQARoBuxk7bba61Ju4hFjMyrO0kCfad6xz4k8et2+IkeYlUXWSBMHVSN4kTGxFT4KW1dFbTSrE+Ec+3lxFpLLm6GVs6s0hRlMMT0ho23GnsK4nxm9cv+IuIuZ1/OHIgjsJgD0iKOlxbRpfQNDuLYtraKyqGzXEQz2ZgCf1ofwrjpfhyYxgMxtSQNAWEjT3YVmnGuJ3Lj5musST3P2A6CqeJn4Wlao422VtlKs+5G4vekoc1y1GpP5D0gk9Y2/1q3rxVT0kdwa4YyLKC41fIruE7kLRKlTdq4GEimsZiltrmaT0AAkk9gKs5hV8kABJrmpNKg1jjSMgZ81rMD8w233Pyj61V8TzK/mVmaPysrQ0dCQpCz3j1pbpaF17+qswYSSYnKNvenVaDTd26FBY7CqBb5xYKF1MbMdz7zo/71YRx6yVQ3LiAhQ7qDMGNBtrrr9BQvmDQeXear2N/BHPgJoaLxp3ao9baRO3cTMelOVC4avknbMxYCZjMSf1kn61VOfudnwRFuzaFy6Y1acok7aESY9e1Ojt42VI6K1cR4tYw4Bv3rdoHbO4WfaTrT2ExKXUFy2wdGEggyDXzpxXjt3F4j8VftrqINt50gxCLO2h3/vRDlfnzEYQ30t4cObz51lj4dqA2Ykb6+XUkbfSnOiICgG19B0qoPIXP/4xjZxAtW7v5Mr6P3ABMhvSTOvar9SqpERSVcK4OxBiqxzfxUqVw6EgsMzkbhdQAO0n9B60Bw7PaIuWzlI+x9D3G1Z0/aLIpMlXW/d78kbYyRa0O9dVFLMQqgSSTAHvQhOZrBOmfL/Nl03A16jcHUUJxbtiit1yy4ZVRgo1LsYJJjcLIG3RveucPbsMxw6kpeRQShMxKkAAnR4AExMSJ3FHNLOT/iArv5+C5rRzVzBr2hvAs3ggNuCw9gGIA+giiVW2PztDqqwCgIo0lWXcbwhuYm8ztlOYwQN4Jyz3EBa0n8UmfJnXPE5ZEx3jehfGuC2rs3M/hsBqw1Gg6j2qrjoHTRgM5FE05TqsxxRzGVGU7FRt9qP8B4VcEMqnzDUftR/BcpWRcDXLniEagBco+upncVaUUDQaVUg7Ka5hE4u+n5+iNs7mG2qrfgLug8Nv9+tWHh+F8NAvXc+9O3rqqJYgaga9yQAPqSB9admmYHsmHBvL2EknTWjQ8gN+aKbEOkABTeItZkZP5lI+4isi4twK7w9bl+7aXEF/4a3S3/TUgiAIBDEfm6bbmtet3AwBBkESKhXjYvhrTeHcGoZTB2iQe0SK0i0E3zVctvyWRcucu4fEYZ381glyFCuSJgSXBOv+lccT4IMEEbDgXyx0uuoItlYiFiCSZ1M7VqGB5RwtnN4SlAxkrmJWfY0m4LYa6FdgSAG8OdDroSOokfpVYxOz93VFTSzvVW5Q5avrjBfvSUXMyEnQF/MQPqT9BWlVysbCuqstaG7IAs45+5TN1bt25ioVvlDgkrP5UAMH2EbfWqvcezdUWbiW4QAZLgyq2XTPaLflaJInMNQehq9cx8t4i9iTcQobbAaMx0IAB0g9ulT+F8FsYdhndGuMPlaO4HlB13gTVN8Je7QUOqbhJnwSEsbYO4OtrFsJwJ7997HCVVRkBuszkZjOotswJKrIG++o7k5wf4Q4w3Ab91ET82VszEdhOg+ta9gOB2rV1rySC06dBJkxRWrkRc1tFLcS8lxFeGyEYnhI/BthbYCgWsiAbCB5f1ArC8WzK5DyMpgg7gzsexkV9F1XeLcu4LE3D4iIb0aw0MOxIB1idyDSZ4eJRRsNKj8mcTHhvYeFLsGs5mC+JMZ0Ex/KCO+vY1dVsu0+IpRekHU++mn0NccQ5MwN2yuGa3lg51ZTFwEQC2YyTuAZ01HpUPh/w6w1sjNcvXQPyswjb+kA1Tk7PzEHuruThPWgRrgeJDFlQyi6TMidNJ6neY2kUN4mzW8Uud2ZWQwD0l9VHQ7KNp271ZsNh0tqERQqjYAQBQrj/D7V4Kl1wsnyyQNf6djPtV6OIMY1t7JbHgvOYaG9t/fXqLCCh/OVle+Vm1gfMdfUr9/aqhiOWgL7EXiFdiUW2Np1K5n0GobYHerg/IKllc4m8cpkAsY/ef1rjiHJrMC34hyVkqERVM6wZkyQfTWIopAQCavwT8PPwHf45Mt6HT6aH8jqVS7/AC/f8fy+W1KwzOrdNZC6nY9Kv/B+HWNvFdnQAk6KBJMZYXT5TsZrnAcAJADYgEgAsot5SJGmYFyAdD070b4bhbVubatmYbyRm2WZgDoy/QilnDxuIc5oPQnl4I8Rj5pmhj3XXQfMk67dK1UjCW0UEJ11JmSfUk6n618+fFBbv428L8gFyVJ6rsuXpER+tfRTsAJMADcmhnFuBYbFgeNbS4OhIB+xq1HlbpWiz7O6+dMPjAmILMkhdAANPQe2lDMZi7vit0VmLGNv9YrdsR8LMIzhg1xVG6KRB9JiRViblPBlBbbD22VRABUGKfxe9c4g7BYHy+kwPDlydDMEdiDO9fSWDDeGmfVsoze8Cf1oXwzl3B2WzWbFtWBiQJI/tv8ArRoCglkDgABshaCCSVTea7WXEC4R5WQAH2Jke+ooNi8YgKAkQXQEDtmXN7iK0O41tj4bZWMSVMEx3jtXgw9oeTKgkbAASNJ0+o+9Ys3Z3ElL82hN1X9q02UNFEIHh7s3nyXSVRQptG2AqGAQVaAToe5HtSuYa741u4FskBYZmU+IJ3CEdNtKm4zglgrDF1EiIuuADICx5o3Igd4qRY4fl3uMw9QJ+/8AareR97fNBmFKRgx5fQkn/f61JpoFR5REgbelO1YAoUgJQfF8GFxmJdwG1yiInKF1/mEAeU6UwnLlsKAGMydSq9VA7QCMuhG0mN6P14TQ8Nt3ScMTKBQcVX73LNsj539Yy6yuUkgrBPWehAPSn8bwRbhaXIzR0UxC5eqnSNY2Da70XW4DsQfY13UcJnRT+rmsHMdP6/AVebla0REkGQZhTMMG80r5gYEg9qaxfLcrFtzJInPB0CuJ+XzN5tJ2gQRVmpVxhYeSJuNnb/sUI4dwdbLlwzElcusf09QJPy9dqavcARokt8ztuDq+bXXaM2kdQDT3H+O2MGi3LzEKzhBAnUgn6aA1ScX8TkctbtWnILhQ+aMy65zoPKYA2OgadCNecGAUV0ZxDzmaT0vQbaKyWOVwQTcuGZaAkRBVRrpq3lknrJmd6n4zgVu4wYkgBAmUAZYUsRpH9X6CnOH8cw15slq6rsBMD29d9KK1wjZVAKH4nEZgXEg8uWiDYTgSW7i3FZvKCAukaluw0+Y/YUZpVAxvFbNrR3APbc/YVPwsHRLLpJna24+p+Sn0Nx/DFutmJYHKBoY2YN/lFOYHidq7/wBNwx7bH7HWp1SC146hD8cbuYPvqhfAsA1m1kYqTmJ8ogDbQaDt2FFKVKpAAFBQ95e4uduUqDYvg+dy/iEHMHWANGCqAZ3I8u3rRS7eVdWIA7nbYn9gaHHmPBzl/E2Z7eIv96hwBGq5krozbTSiNy0mQIHbSZJAOaRHm7x07EA9KIcM4aLIYKSc0Ez37+5/yqXh76OoZGVlOxUgg/UU9UNY0agJj8RK8U5xISobxLh/ixLFdGUwAZDZZGux8o1olSoiARRS2uc05mmiq7ieXRoUbzKoADQAxEzmMEwcxJEGTXljlsZQHck5QDoNwhWe5g6rO1WOlQcFl7J4xk4FByE4ngyOzsTDONwBIOTKD7gfvXuA4Ott/EzFm82pA/N4cx2H8Pb+o0VpUWRt3SXx5cuXMaqvLavRROIYbxLbW5jMNyJA9xIn70HHL5lT4pjNmZQCAZdmZQA0KhzERBPqasdKocxrtSuZPJGKaaCrq8BcAAX20UDWTmMW5nz7MUJIEE5zrXY4M4RlW6zMQglyfyuDJg66SNInvR+lUcJg2CYcXMd3d+w8eirtrgDAib7FZUsNfNl0ic2gIkEan5ddNSXCsD4KZMxbYyZ6KgO5O5Un60QpVIjaDYCB+IkeMrj8gg+K4UzFyr5cxDfICQQqrvIkQu3czPSmBwASTnMy0Ej+ZrTQerD+HBE6h2GmlHprwmuMbTyUtxMrRQd8h4dECtcAA8P+IxyOGJInNBtkddD/AA4nszd64xXAWa4X8UwWk6ajViI13GaAegVdDFHVuqdiDHY1x+LSYzCaW7gtAJI12138NdUQxU+uvXl18kBtctnKk3WDCCcvy6AAxrPrPck+lWavJr2mtYG7Jcsz5TbzfouWMa1XePcbC+VfrUnj/CnujPbv3bLqpH8PKQ4kGGVgQdtDvqe9VjCjNee44B8MaA7azqfaDWZ2jiHsqNul80ACj4HFXbl4lTly6lgdh0957VZLHNS5gjr7spB+sVV7vEc/mBkGdjoYqPwniaqLiC2wbfxCBrrsD0rKw+JdE4hhrmbG/lp+UZGi1NHBAIMg7V3WfcvcTuLdVRLBjBWd5/b3q/pMa716DCYkTszVSWRSpvxG5Z/F2le3bL3rZ8oDCIO8g6N+/vtWI4nGSj2fkNoh0CqF11zSOmnQfWvpbiSubVwW2yPkORgoYgxoQDofavlzjTO1+4XJ8Rj55WDMnMDHynQzHU017QTav4aV3DLeQ079fsrz8MsZefHo4t5gFKt4ZAygwJYGNBIMAdRW7VTfhpwa1awVi6FU3HtyXgFgGM5M28AxoeoNXBjAmmNFKrM/M7w09+x4KJxTEFLZI3MAfWqNxe0VkhiSxGkSSf3NNcR5ldsVkul7duSFR0KaflaCJOo3Pc1F4/dK251OZypP8oCgxPTNP2WsjETcV5A5WPTc+a0uyQH3l66/b36apjD43wiG8RFI13JP/tBitB4JzBZxAUK6m5Gq7GdJgHWKySyyFGVkJb8rZtF9xGtE+U8PcF9HWQASCY0JOgUHqZI07V2HkMW23mtPHYNkzC5xoi6OlHu5/VbHXh2r2vCK2divKLOuN8SRki6WziTIY769No12qk4fhPj4Zr2ouDE+GvmhSmTMWIjUgyJFalzPyrav5rrO9uASwTL5oHqpI+lVQYG1ZsqloA7SCTIJJ6n319687Iw4MnM7MXDTbkRqbIvflZOpQPbnOo0CE8I4WcJdF6xiDpuozLmP9QzEMPQitnstKgkQSAY7aVQOVeDI9wtIOQKSu4JPWZ202q/otaHZokcwyPdd7DpV+nf4a6qWtDdAE5SodxTi9jDgG9cCTsNST9Br9aBcN5mXE3r1u3cBW2BGUEZg06ydZGg0jU+1XHTMBy3r0RK04i8EUu2wFVjiHGXPyvlJ6A7e9N4vhJZmuLfuebdXYkfvpEdQarPEbF22+V+okEHSqGMmkGlEDr/xEG9Vb+FcXdYF1s4Y/NsR9BpG23vVnrOeFKzsqbkn9OtaNTsDI97Tm5VX3UFQcfxK1ZE3GjQmNyY7ChnC+a8PiHVLZ1M7kDpIjvVb+J2a09u8rlcykEd8vT0+b96pXDeKKiFgqS2pYToZOgI2g9BFHJiHNfXRbWG7MjlgDrNnbx22/tbDiOL2/FFtLq51YBknQywBE9GG8fSp6Y22dnTTfzDSsS4pxNsPaTxWtshOrLupJn36nUetSfx5ZwqMbRy6OkbRA3kQZOtB+qIOoTT2K1zfgfqBqPdH5ea1/A4s3GuaQqsAp6t5QSfTUxHp61PrMOUeKeBdId1KufMQSFGo1E9R+01pwqzDJnbaysZhXYd9HUHY+/dUea5YxqaAcxcRChQpBmZ/SKh8z4+5n8NWyjr09telCHm4DYuMWhSyv+ZCsmZ3gwRB7isvtCZ8rXQx6bAnv3re9dtjvyBtHhoQCHvPvr0Th4oRG511gTHqfSmbmPaZDVIsYxbahbagD9/fvQ9bKHEFz/KDl6TLaxtOgrx4c0i9dvf1WoACapaDwrN4VvNvl/7fpFTqpWA4sUuL/KTBHp/errXuOzMa3Ew6Ci2gRd+Gul34BYuIhMbteaVQcXw21cDBkWXUqTAkg9D3+tReNYB7oUKwETo20mIbYyVjQf1HUGDTP4DE5p8fTPPXbMD2j5ZXLsJncVdeM3wlthC2NhaDnAPTVQV5PGYZrv8ADEeVVgn0mdKI8W5ds3sp1RlAAKxsNgQdCBURuEYloDXw0BdMzDVWB3iZ0+Ya67RFOJw3E+bNiSZBiCRrkYAxGkEgwDrlqrHhImNLRHod71v1N/NMdEzfiD593d7pPcH5btWGzgs7/wAzRp3gDajlDMBYuK9wszFZAQEzpEkk7nUka9FFE6tRsaxtNFDoq7hR3v37vvSrIOZPhlfOJ8TClPDuO0gmBZBA+aSS4JnbsNINarjbRa26K2UspAPYkaHSg9vhV5VYLcCzGVVJCr5mJEgA7ZdYnQjrNS/pSfh3ZfiDgOVH6+R17q1rQE1hLC20VFCqFAACiAPYDYVIqtYfh+L0LXoh9RM5gGfXbSQU8u2msEmrLUtcTypLljDDQcHeF/cBKhuO4XbuBvKoLCGMfN/5h1qNxXh1x3VkcCAAJJ8hBYyogjzSAdoyDfaouM4fisw8O8SDpq5BHkAk6dGBOmpz9hQyW4UW2EyNjbBEgBrv9Pf01Iy5yjDSti3752jfcgn/ACqDieXscXXyqEU6ZLgEa7qNIjeKsjcJvtmL3pOdmQyRllHAMRoRmXTUeU9zXVzhV1n81zyhhl8xzR4ofU7zlGXfXKDVJ2CY7cO9fdeKtTYl0rcjpRXOg6/U3ptdVzHLUzh7eVQuYtAjMTJPqafpUP4pYLplBG6mDMMAwJUx0IEdfY7VoVQ0Wc0AkAmgpV+0GUqdiCD9azPj3K+Jz5bauyzoREfqauNrheIVUHj7MJ7ZQq6ARG4bSNZG0V3w/h+IVla5eL5TqJMHS4D06kofSCKrywRz1xGXSN8DKJEg+evyTXKfBzh7cNq7RmPttVhWq3Z4dioVjdhisEFiSJQA6xqQ0tG3SaIcMwN1Gl7pcZYIJJ1i3qJ21Fz/ABDtTI6a0Na2gidAxlgSA+v4XfFuCWMSCLtsExGaIYezbj/WguD5Dw9lvEsvdR+8qfoZXUek1bah8SsF7bIpgkb6/YxrB20rnRMJzZRaSACRaE3OH4kbCy/9WZlP+HK3/wAqGYrlK7euB7l9l6QuWPsQTRO3wzEAZRcVV3yiRHmY5QQBAgxmgHTavW4bicsePJhepH5CGMgSfMQY7LFAWA7sJ9FYMLSf/oPn+P671M4NwdcODlMk7sd/v29KK14K9p4aGigqyG8Z4PZxKBLy5gDI6Qfca0Fx3ImDuBQLYTKNCkj7wdfrR/iNgumVWynMpntDqTHrANCF4ViROW/1cgmfzXCwlYg6EyR3jYCgcNf22rMLiG2JMtHbX10UXhHI9iy7O7eKSAAGAgR6bE+tPcc5RtX4YMUdRCkbR2IjUf3p5+C3WgteJcCM0kajxcpAG3zr9j3pxOHYjMS18xrABI3Ya7aeWRl2Bg9aHKKy5dE4yv4nE43xddfxt7pA8H8PlDq9y8SBuiqADr3OtXhRGlMYO2yoqs2ZgIJ7+tSaNjGtGgpV8RiZZj/kdmq6/rxQXjvBRfgjRh1mhVvlu6AQGAJ0zTJA7ARH19TR7imEa4FCuUgkkjfVHXqCN2FDrWAxIBAuwAcon+UZTI7mc4Ex5SJ2qu/DxmTOWa9UyNx4dZwO43+Pfkh45Suja8CPVdvauDyc4OdbxzeuoP0/tUzDYHFsBmuNb11BeWiCDqsg5iQd/Ll9ak2+F38wL3iVBUxmbXK9s/sr69c+u1KGCw+pEQ199dE5z3g0ZRp01+2vujWqicI5edbga8FIGog7npNWugvDMHiEI8S4HUAzqSSZ03Gums9+go1VjDYeOBmWNtBVZ3FztXA+GyVKlVW41zObb5Lahj3PuQf1FFNOyFuZ6WxjnmgrTUDiHE7dr5zr2Gp+1CMBzQGDZ1hlUkRsYExVexWNPmZtXOs1l4/tYRMbwaLje/Ku7x25dVZgwpcTn2Cv2CxiXVDoZB+hHuOlSayjhnMVy1ircklWYKw7gmP0mfpWr1ewOKOIjzEUR7tJni4bqGyVKmrtwKJJAA6mg2J48s5EBk6ZjpHsOtHiMXDhx/kdXQcz5ffYcyhjifJ+0I9SqqJdfQZzrJ32/wBxRHhnGkKxcYBh+tVMP2rFK7K4ZfEiuXPzTn4R7RY18EapU1auBhKkEHqKFc18W/DWDc2JIVT2JnX7A1pF4Dc3JV2tLnBo3RDE4+1b+e4q+hOv23pvC8Vs3DlS4pPaYP671lz4nPLMZJ3JOtRrd0s+VNxrPb61nuxxB2FK7+kYBq78LaKVVThnNAyql1SWUAM4Mz6xvVms3FZQykEHUEdauRTxyi2G1RITtcsY1NdVVebOJZWW1DFYlwpj2k9uv2qZ5hEzMUyGJ0rsoRS5x6yDEk+oGn3qfh8QriVMis6wQIUg9Wn117+v+lG+XrxW8o6NIP2rHw3aj3TZHgUel/k81oz9ntbGXNJsdVcaVKgHNnMK4S1mjM7fKp2929K23vaxpc7ZZKP0qrHKfNS4pSr5VuquYgHQidxOojTeq9xP4isLhFlU8ME6tJLR102pDsXE1ocTv7+S61pFKqHiviRZGHS4om6zFSkzkIiSY1I8ykbTPpRDlLm8Ys5HQI/5SNmiZ0Oo2ohiYy4NvdRYVsrmvLjgAkmABJNULjXNzsSts5F9Nz7np7CoxGJZALdz2AUq5Yzidq1o9wA9tz9hrUazzBhmMC6AT/MCv6kRWUYniDEnXWor8SO0+lZ/6+Un9orpr9f6Urdprqs65O5xQW/Aui47qfIERnJWBoYECDMa1oSagEiNNu1akcgeLC6l3Sqpc+8dfD2wluQ7z5h0H+Unr6VnOB5ixCtmF24D3LT9+hn2qvNjGxOy1aAupa9zDxu3hLRuvqfyoN3PYf3qNy9zPZxQEeR+qNv9D+asl5g4ri8Vd8RrFwoEADKjFdtSNOpk/WmuD44hgykhgQQR0On+/vVaXHuY7MBbffp4eqEv1W+0qZw1wsisRBKgkdpFPVqpiVZliLfnyNpcQkEHr7es/vWlOTGg1qt8x8u/iCHN3wm0GYBdZIABka6kAe9UMdhHThpYdReh2INX56CinwShhIOx6KpWbNwvqupgRG86QKFHFsC1q4Cty2crA7iP9NZq3WORLoBDcQvQf5VVT7Bt1+m9TsPyFhF+a34jHdnJZj7mapu7Hzs+J3xeo+yeMaGnQaKo8tYH8RiUAEhCGc/ygGdfeIFa3QThvK2EsOLluwiuNmAg0brQweFGHYW3ZO6rzS8R1oHzDZuFQy/Ku4A1Hc76/bvQEBSJXaCZjUHXWfSrs7AAkmANST0qMuFtMSQqHXWAN+s9z71SxnZXGl4rXUTveu3T8bFOhxXDZlI996p6YprloMCoYjWBr6xJgUDxl98OwMg2n3LHUN1B776VeW5Ytg/w2ZB/LuB7dR969TlzDjzXgLsEEeIBlB2BAOkmY1rPb2ROZMrwMvW/Q1vatS42PIeEaPLT67hecrWrgQs4yq0EA7n19NKc5u4OcVh2tKQGBDLO0idD7gkUYtWwoCqAANgBAHsOlOV6DD4ZkMIhGw0WfJM58nE2Kxi7w29a8htXJHTIT+w1pqyt2xZuM6PadnB8ynMFOgaN40NbPduqupIHuY6E/sCfpQri3D7V9fEzgZJ84ggAE5g3QgEH2g1WmwXw/CbOmhRS4h0jaqlnmHFi3dtfh77XRcnxA4gg6kGDETO3SKv3K0gXF/KGEekjX/Kh9vlJs+bNbH9QUz9v9as2Cwq2lyL9T1J6k0GFgkE2dwqh1GvolNdTSOtKTVU5v4c0i8uoiG9I2NWK9iUSczKsCTJA01/+p+x7U850q9PA2ZhY5Mw87oHiQf8AVmNq4aN8uWme8pA8q6se2mg96LYnlixcYuytJ3i46j7KwFFOH4RbSi2ohRtqT+p1P1rNw/ZeSQOcdAtHEdpsfGQ0anwUys0+K+HuArdALJlgx+U67+laQXExOp29aYx1q2yxciPWtOeLiMLVjbrMuVOFJbspcPmuXUJZiTADboB20gzMntQvjHK6PiLBQm1afP4qr/QAZSZyzOUjbrV8xfAWWDZvIqMRCuAyknbL1BPoYNRF5ed/434q2xXrAyqImIGkQ0/Wsv8ASTh56a17979yb8GUCkExHLWEdSi2ltkqcroTmBjQtr5th83Sl8LOD3M/jOuVV110kxGg3+ulW3A8CYgEtbynqmbzfUk6e1WLDYZUEKKbhcG8HNLyKGTIXfCucbYz23SYzKRPaRWPcYwr27hRwVI/X1HcVtBoRxnh1u+MjAEjX1Ezr3Ewfsas4nC8aiDRCG6WK37u41n/AH/emL6su6kA+mlX7E8nojs4uMMokgwYBnXUSBodfQ1OwvK6TL5okfNtJ0EzpqSB9az34aWNwbQ17z+E1rGltm018JOGXbdq7ecELdK5AdyFzeb2M6e1aFUCzYXw1ywdBB3n2NBk4aVV89oAkMM38Ibtp5vmM7a99a14xlGX379UulD+IfCGuqt22JZNCOpG+nsf3rPeUuHi7iHNz5bKg5D1YmFzA7gEE+4FaXawDZ9LS+VgSo8NTql5ZIU5Y8y+u9QuL8CdstxbAJBOZSVMggxOveOs1UxWD4gLmH4q+dIdL1XXhaFs3m7fb7D+9QsFyyl3FC+RCgAsoEZmk7/QCe9RH4TiGYgYEarAzMuVDLyRsdZG3aj2C5duLYdC7Zmklcwi4wUZCT+WI2G+VZ21pYLs5zZM7xTenU+qKR7X6K3LXVM27qmQCDlMH0MAx9iPvT1bihKonEMN4iZZykMjAxMFHVhp11UV5SriARRUtJaQ4bjVDP8Al5S7Mzs2Z80Ed3Vj17Ar/wCUx0rgcuLsbrHTTvIRlBPcqSCO0UqVL4TOisDGT/yKsVKlSpirJjFWcyMsxmUie0gj/Og3/L66DxWyCPLA1Cm4QCev/UeZ1PlnbVUqFzAdSmxzSRgtaaCavctCAFuECROm3lRWK9icsnvNOjl1S2Z7hedSCBqc6sfZZGi9Mx717SoeCytkz9ZOf9voj9KlSpirIbxXh4vKEJIhs2nfKwH7zB0MQdDUK7y+GJY3bmuaQDAJZnYmPQlI/wDTHc0qVA6NrjqE+PESxtprq9OaPCvaVKjSEI4hwgXWL5mVvDKadAQ4P18+h3EdiQYtvghW6jIwyqZad5CgeURHmIkmdfpSpUJiaTac3FStGUHSqruOn30XbcBB/wD2MNXMqIbzdc383Qt1GleNy+CZL6ZYyhQF2A27CJA6Fm70qVRwmdEf6uev3fRP4PgwR1uFyxWcsgaAjv8AfWpXFOHLfTIxIEg6ek/3r2lU5BVJZnkLw+9RsempOnnfqoKcDXPndsxzBtVGpAbf/Fp2AA6UsPwJEDAMTmtLbGg8oC5SR76E+1KlXcNoOyI4mY6Zjy+R0TX/AC0kHzsGP5h8w0A0PtP+I0T4bhPCtrbmcs6+5J0HQCYA6AUqVcGNGoCiSeR4p5v3/am0ExvBfFuFzcI+UAADQLmPf5pY+boCRSpVJaHaFDHI5htprlyTS8tp1YkFAhGUQYLHMR1eTq3XXvTh4GuZSHIAYMVAHmIdm19w5U+gHalSoeEwckZxc38iiOAwot20tjUIoUHvAifrvXWMw4uIUJIBjUb7g6falSogBVJRe4uzE67+doQOWbWUDWQAJyIJAMwQFggncHfrUbEcqLkVbba7MWgyIYT8urDNptHQilSoDDGdKVj9diG65ipV/gAuNcdm+c6AKu2VB5pBzfLpMxMim8PywoiXeQ+bywB8zEbDVtfmOtKlU8FhN0hGMnADQ7QV8k7g+Xbdt1cMSVMjyp/KR0XTfWInSdqPUqVS1gaNEuSV8ht5vkv/2Q==



**Q4.Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on
www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.**

In [348]:
driver=webdriver.Chrome('chromedriver.exe')

In [349]:
url='https://www.flipkart.com'
driver.get(url)

In [350]:
pop_up=driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
pop_up.click()

In [351]:
search_bar=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar.send_keys('iphone')
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [352]:
brand=[]#
pro=[]#
col=[]#
ram=[]#
storage=[]#
r_cam=[]#
f_cam=[]#
d_size=[]#
bat=[]
price=[]#
p_url=[]#

In [353]:
product=driver.find_elements_by_xpath('//div[@class="_4rR01T"]')
for i in product:
    if i.text.split('(')[1].split(',')[0]=='':
        col.append(i.text.split(')')[1].split(',')[0].replace('(',""))
    else:
        col.append(i.text.split('(')[1].split(',')[0])
    brand.append(i.text.split()[0])
    pro.append(i.text.split()[1]+str(' ')+i.text.split()[2])
    try:
        storage.append(i.text.split('(')[1].split(',')[1].replace(')',''))
    except:
        storage.append(i.text.split(')')[1].split(',')[1])

In [354]:
for i in range(len(product)):
    ram.append('-')

In [355]:
pric=driver.find_elements_by_xpath('//div[@class="_30jeq3 _1_WHN1"]')
for i in pric:
    price.append(i.text)

In [356]:
Url=driver.find_elements_by_xpath('//a[@class="_1fQZEK"]')
for i in Url:
    p_url.append(i.get_attribute('href'))

In [357]:
desc=driver.find_elements_by_xpath('//li[@class="rgWa7D"]')
for i in desc:
    if 'Display' and 'inch' in i.text:
        d_size.append(i.text.split()[2].replace('(','')+str(' ')+i.text.split()[3].replace(')','').replace(')',''))
    elif 'Camera' and 'MP' in i.text and 'TrueDepth' not in i.text:
        r_cam.append(i.text.split('|')[0].split()[0])
        f_cam.append(i.text.split('|')[1].split()[0])

In [358]:
for i in range(len(product)):
    bat.append('-')

In [359]:
df=pd.DataFrame()
df['Brand']=brand
df['Product']=pro
df['Color']=col
df['RAM']=ram
df['Storage']=storage
df['Display Size']=d_size
df['Front camera']=f_cam
df['Rear camera']=r_cam
df['Battery Capacity']=bat
df['Price']=price
df['Product Url']=p_url

In [360]:
df

,Brand,Product,Color,RAM,Storage,Display Size,Front camera,Rear camera,Battery Capacity,Price,Product Url
0,APPLE,iPhone SE,Red,-,128 GB,4.7 inch,7MP,12MP,-,"₹34,999",https://www.flipkart.com/apple-iphone-se-red-1...
1,APPLE,iPhone SE,Red,-,64 GB,4.7 inch,7MP,12MP,-,"₹30,199",https://www.flipkart.com/apple-iphone-se-red-6...
2,APPLE,iPhone SE,Black,-,64 GB,4.7 inch,7MP,12MP,-,"₹30,199",https://www.flipkart.com/apple-iphone-se-black...
3,APPLE,iPhone SE,White,-,64 GB,4.7 inch,7MP,12MP,-,"₹30,199",https://www.flipkart.com/apple-iphone-se-white...
4,APPLE,iPhone 12,Blue,-,64 GB,5.4 inch,12MP,12MP,-,"₹49,999",https://www.flipkart.com/apple-iphone-12-mini-...
5,APPLE,iPhone 13,Blue,-,128 GB,5.4 inch,12MP,12MP,-,"₹64,900",https://www.flipkart.com/apple-iphone-13-mini-...
6,APPLE,iPhone 13,Blue,-,128 GB,6.1 inch,12MP,12MP,-,"₹74,900",https://www.flipkart.com/apple-iphone-13-blue-...
7,APPLE,iPhone 13,Pink,-,128 GB,5.4 inch,12MP,12MP,-,"₹64,900",https://www.flipkart.com/apple-iphone-13-mini-...
8,APPLE,iPhone 13,Midnight,-,128 GB,6.1 inch,12MP,12MP,-,"₹74,890",https://www.flipkart.com/apple-iphone-13-midni...
9,APPLE,iPhone 13,Midnight,-,128 GB,5.4 inch,12MP,12MP,-,"₹64,900",https://www.flipkart.com/apple-iphone-13-mini-...
10,APPLE,iPhone 13,RED,-,128 GB,5.4 inch,12MP,12MP,-,"₹64,900",https://www.flipkart.com/apple-iphone-13-mini-...
11,APPLE,iPhone 13,Pink,-,128 GB,6.1 inch,12MP,12MP,-,"₹74,900",https://www.flipkart.com/apple-iphone-13-pink-...
12,APPLE,iPhone 13,Starlight,-,128 GB,6.1 inch,12MP,12MP,-,"₹74,900",https://www.flipkart.com/apple-iphone-13-starl...
13,APPLE,iPhone SE,White,-,128 GB,4.7 inch,7MP,12MP,-,"₹34,999",https://www.flipkart.com/apple-iphone-se-white...
14,APPLE,iPhone 13,RED,-,128 GB,6.1 inch,12MP,12MP,-,"₹74,900",https://www.flipkart.com/apple-iphone-13-produ...
15,APPLE,iPhone 13,Green,-,256 GB,6.1 inch,12MP,12MP,-,"₹84,900",https://www.flipkart.com/apple-iphone-13-green...
16,APPLE,iPhone 12,Black,-,64 GB,5.4 inch,12MP,12MP,-,"₹49,999",https://www.flipkart.com/apple-iphone-12-mini-...
17,APPLE,iPhone 11,Red,-,128 GB,6.1 inch,12MP,12MP,-,"₹54,900",https://www.flipkart.com/apple-iphone-11-red-1...
18,APPLE,iPhone 11,Black,-,128 GB,6.1 inch,12MP,12MP,-,"₹54,900",https://www.flipkart.com/apple-iphone-11-black...
19,APPLE,iPhone SE,3rd Gen),-,64 GB,4.7 inch,7MP,12MP,-,"₹43,900",https://www.flipkart.com/apple-iphone-se-3rd-g...
20,APPLE,iPhone 13,Blue,-,256 GB,5.4 inch,12MP,12MP,-,"₹74,900",https://www.flipkart.com/apple-iphone-13-mini-...
21,APPLE,iPhone 11,Green,-,128 GB,6.1 inch,12MP,12MP,-,"₹54,900",https://www.flipkart.com/apple-iphone-11-green...
22,APPLE,iPhone 13,Starlight,-,128 GB,5.4 inch,12MP,12MP,-,"₹64,900",https://www.flipkart.com/apple-iphone-13-mini-...
23,APPLE,iPhone 13,Pink,-,256 GB,5.4 inch,12MP,12MP,-,"₹74,900",https://www.flipkart.com/apple-iphone-13-mini-...

**Q5.Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.**

In [361]:
url='https://www.google.com/maps/'
driver=webdriver.Chrome('chromedriver.exe')

In [362]:
driver.get(url)

In [363]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options

In [365]:
wait = WebDriverWait(driver, 10)
wait.until(EC.element_to_be_clickable((By.ID, "searchboxinput"))).send_keys('Delhi')
wait.until(EC.element_to_be_clickable((By.ID, "searchbox-searchbutton"))).click()
time.sleep(7)
ActionChains(driver).move_to_element(driver.find_element_by_xpath("//html/body")).context_click().perform()
Loc=wait.until(EC.visibility_of_element_located((By.CSS_SELECTOR, "ul[role='menu']>li div div[class*='text']:nth-of-type(1)"))).text
print(Loc.split(',')[0]+' North '+Loc.split(',')[1]+' East')

28.64730 North  76.81029 East

**Q6.Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) from trak.in.**

In [317]:
url='https://www.trak.in'

In [318]:
driver=webdriver.Chrome('chromedriver.exe')

In [319]:
driver.get(url)

In [325]:
fund=driver.find_element_by_xpath('//a[@title="http://trak.in/india-startup-funding-investment-2015/"]')
fund.click()

**Q7. Write a program to scrap all the available details of best gaming laptops from digit.in.**

In [21]:
url='https://www.digit.in'

In [22]:
driver=webdriver.Chrome('chromedriver.exe')

In [23]:
driver.get(url)

In [24]:
search_bar=driver.find_element_by_class_name("search")
search_bar.click()

In [30]:
search_bar_type=driver.find_element_by_xpath('//input[@id="globalPageSearchText"]')
search_bar_type.send_keys('Gaming Laptop')   
search_bar_type.send_keys(Keys.RETURN)

In [31]:
LAPTOP=driver.find_elements_by_xpath('//div[@class="searchProduct-desc"]')
lap=[]
for i in LAPTOP:
    lap.append(i.text)

In [38]:
pd.DataFrame(lap,columns=['Gaming Laptops']).set_index('Gaming Laptops')

Empty DataFrame
Columns: []
Index: [ASUS GX501 Zephyrus Gaming Laptop, ASUS TUF Gaming Laptop FX506LI-HN270T, HP Pavilion Gaming Ryzen 5 Hexa Core-5600H (2021), MSI Gaming GL63 9RDS-853IN, ASUS ROG Zephyrus G14 (2021), HP Omen Ryzen 5 4600H, Acer Predator Triton 700, HP Pavilion G6-1202TX, Asus G750JX-CV069P, HP Pavilion Gaming 15 Core i5]

 **Q8.Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be 
scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.**

In [78]:
url='https://www.forbes.com/real-time-billionaires/#17bf7e9b3d78'

In [79]:
driver=webdriver.Chrome('chromedriver.exe')

In [80]:
driver.get(url)

In [82]:
name_=driver.find_elements_by_xpath('//td[@class="name"]')
name=[]
rank=[]
k=1
industry=[]
for i in name_:
    name.append(i.text)
    rank.append(k)
    industry.append('-')
    k+=1

In [83]:
worth=[]
worth_=driver.find_elements_by_xpath('//td[@class="Net Worth"]')
for i in worth_:
    worth.append(i.text)

In [84]:
age=[]
age_=driver.find_elements_by_xpath('//td[@class="age"]')
for i in age_:
    age.append(i.text+' yrs')

In [85]:
source=[]
source_=driver.find_elements_by_xpath('//td[@class="source"]')
for i in source_:
    if i.text=="":
        source.append(i.get_attribute('textContent'))
    else:
        source.append(i.text)

In [86]:
origin=[]
citzen=driver.find_elements_by_xpath('//td[@class="Country/Territory"]')
for i in citzen:
    if i.text=="":
        origin.append(i.get_attribute('textContent'))
    else:
        origin.append(i.text)

In [90]:
df=pd.DataFrame()
df['Rank']=rank
df['Name']=name
df['Net Worth']=worth
df['Age']=age
df['Origin']=origin
df['Source']=source
df['Industry']=industry
df.set_index('Rank')

,Name,Net Worth,Age,Origin,Source,Industry
Rank,,,,,,
1,Elon Musk,$287.6 B,50 yrs,United States,"Tesla, SpaceX",-
2,Jeff Bezos,$189.3 B,58 yrs,United States,Amazon,-
3,Bernard Arnault & family,$173.5 B,73 yrs,France,LVMH,-
4,Bill Gates,$135.0 B,66 yrs,United States,Microsoft,-
5,Warren Buffett,$127.0 B,91 yrs,United States,Berkshire Hathaway,-
6,Larry Page,$118.7 B,49 yrs,United States,Google,-
7,Larry Ellison,$115.1 B,77 yrs,United States,software,-
8,Sergey Brin,$114.0 B,48 yrs,United States,Google,-
9,Gautam Adani & family,$103.4 B,59 yrs,India,"infrastructure, commodities",-
10,Mukesh Ambani,$101.3 B,64 yrs,India,diversified,-
11,Steve Ballmer,$99.2 B,66 yrs,United States,Microsoft,-
12,Carlos Slim Helu & family,$92.0 B,82 yrs,Mexico,telecom,-
13,Michael Bloomberg,$82.0 B,80 yrs,United States,Bloomberg LP,-
14,Francoise Bettencourt Meyers & family,$81.3 B,68 yrs,France,L'Oréal,-
15,Mark Zuckerberg,$80.3 B,37 yrs,United States,Facebook,-
16,Zhong Shanshan,$74.4 B,67 yrs,China,"beverages, pharmaceuticals",-
17,Jim Walton,$69.5 B,73 yrs,United States,Walmart,-
18,Alice Walton,$68.5 B,72 yrs,United States,Walmart,-
19,Rob Walton,$68.2 B,77 yrs,United States,Walmart,-
20,Charles Koch,$62.9 B,86 yrs,United States,Koch Industries,-
21,Julia Koch & family,$62.9 B,59 yrs,United States,Koch Industries,-
22,Amancio Ortega,$56.8 B,86 yrs,Spain,Zara,-
23,Michael Dell,$54.4 B,57 yrs,United States,Dell computers,-
24,David Thomson & family,$50.7 B,64 yrs,Canada,media,-
25,Phil Knight & family,$50.6 B,84 yrs,United States,Nike,-

**Q9. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted 
from any YouTube Video.**

In [186]:
url='https://www.youtube.com/watch?v=JKa05nyUmuQ'

In [187]:
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)
driver.get(url)

In [195]:
pause=driver.find_element_by_xpath('//button[@class="ytp-play-button ytp-button"]')
pause.click()
for i in range(25):
    time.sleep(5)
    driver.find_element_by_tag_name('body').send_keys(Keys.END)
time.sleep(4)
days=driver.find_elements_by_xpath('//yt-formatted-string[@class="published-time-text above-comment style-scope ytd-comment-renderer"]')
day=[]
for i in range(500):
        day.append(days[i].text)

In [197]:
comment=driver.find_elements_by_xpath('//yt-formatted-string[@id="content-text"]')
com=[]
for i in comment:
    com.append(i.text)

In [200]:
Comments=pd.DataFrame()
Comments['Posted']=day
Comments['Comment']=com[:500]

In [201]:
Comments

           Posted                                            Comment
0      2 days ago  No words for trailer . we youtubers will promo...
1       1 day ago  Money is like a Dettol\nIt kills 99.99% of pro...
2     9 hours ago   Goosebumps  KGF 2 is going to break all records
3    11 hours ago  KGF = Not just movie, not just emotions, even ...
4       1 day ago  The hype ,the energy ,the craze this movie has...
..            ...                                                ...
495  11 hours ago                                              2:33
496    7 days ago  After hearing RRR’s bgm in theatres, we can on...
497   6 hours ago                  Finally 75 million views complete
498   5 hours ago  Bollywood is like the villain, who think they ...
499    2 days ago                      No words.. \nJust speechless

[500 rows x 2 columns]

**Q10. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description**

In [277]:
hostel_name=[]
distance=[]
ratings=[] 
total_reviews=[]
overall_reviews=[] 
privates_price=[]
dorms_price=[]
facilities=[] 
property_desc=[]

In [283]:
url='https://www.hostelworld.com/'
driver=webdriver.Chrome('chromedriver.exe')

In [284]:
driver.get(url)

In [286]:
search_bar=driver.find_element_by_class_name('search-input')
search_bar.send_keys('London')

In [287]:
search_btn=driver.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[2]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]')
search_btn.click()

In [289]:
search_btn2=driver.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[2]/div/div[2]/div[4]/div/div[2]/div/div[5]')
search_btn2.click()

In [290]:
dis=driver.find_elements_by_xpath('//span[@class="description"]')
for i in dis:
    distance.append(i.text)

In [291]:
name=driver.find_elements_by_xpath('//h2[@data-v-2f0a89ac]')
for i in range(len(name)):
    if i%6==1:
        hostel_name.append(name[i].text)

In [292]:
rat=driver.find_elements_by_xpath('//div[@data-v-8f08c426]')
for i in rat:
    ratings.append(i.text)

In [293]:
all_rat=driver.find_elements_by_xpath('//div[@class="reviews"]')
for i in all_rat:
    total_reviews.append(i.text)

In [294]:
ov_review=driver.find_elements_by_xpath('//div[@class="keyword"]')
for i in ov_review:
    overall_reviews.append(i.text)

In [295]:
p_price=driver.find_elements_by_xpath('//div[@class="price title-5"]')
for i in range(len(p_price)):
    if i%2==1:
       privates_price.append(p_price[i].text)
    else:
        dorms_price.append(p_price[i].text)

In [296]:
fal=driver.find_elements_by_xpath('//span[@class="label"]')
for i in fal:
    facilities.append(i.text)

In [297]:
df=pd.DataFrame()

In [304]:
df["Name"]=hostel_name[:5]
df["Distance"]=distance[:5]
df["Ratings"]=ratings[:5]
df["Total Revies"]=total_reviews[:5]
df["Overall Reviews"]=overall_reviews[:5]
df["Private Price"]=privates_price[:5]
df["Dorms Price"]=dorms_price[:5]
df["facilities"]=facilities[:5]

In [305]:
df

,Name,Distance,Ratings,Total Revies,Overall Reviews,Private Price,Dorms Price,facilities
0,Generator London,Hostel - 1.7km from city centre,7.7,4129 Total Reviews,Very Good,NPR2908,NPR14540,Free WiFi
1,No.8 Seven Sisters,Hostel - 3km from city centre,7.8,6849 Total Reviews,Very Good,NPR3604,NPR9952,Follows Covid-19 sanitation guidance
2,Prime Backpackers Angel,Hostel - 5.4km from city centre,9.6,229 Total Reviews,Superb,NPR3199,NPR14393,Free WiFi
3,Smart Hyde Park Inn Hostel,Hostel - 4.3km from city centre,8.5,11420 Total Reviews,Fabulous,NPR14540,NPR2639,Follows Covid-19 sanitation guidance
4,St Christopher's Camden,Hostel - 2.3km from city centre,9.0,2302 Total Reviews,Superb,NPR4192,NPR2486,Free WiFi