# WEB SCRAPING – ASSIGNMENT 2

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
import time
warnings.filterwarnings("ignore")

In [2]:
#Connecting to the webdriver
driver=webdriver.Chrome('chromedriver.exe')

**Q1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10jobs data.**

In [3]:
#Getting the Webpage
url='https://www.naukri.com/'
driver.get(url)

In [4]:
#getting the search bar
Search_job=driver.find_element_by_class_name("suggestor-input")
Search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [5]:
#sending keys
Search_job.send_keys("Data Analyst")
Search_loc.send_keys("Banglore")
#getting Search button
Search_butn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")

In [6]:
#clicking the button
Search_butn.click()

In [7]:
#Extracting job title
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
#Extracting Location
job_location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
#Extracting Company name
company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
#Extracting experience required
experience_required=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [8]:
#Creating empty lists lists
jobt=[]
locn=[]
cn=[]
exp=[]
for i in job_title:
    jobt.append(i.text)
for i in job_location:
    locn.append(i.text)
for i in company_name:
    cn.append(i.text)
for i in experience_required:
    exp.append(i.text)

In [9]:
#checking length of the list
print(len(jobt))
print(len(locn))
print(len(cn))

20
20
20

In [10]:
#Creating a dictionary & DataFrame
details={"Job Title":jobt,"Company":cn,"Experience":exp,"Location":locn}
Df=pd.DataFrame(details,list(range(1,21)))
Df=Df.iloc[:10,:]
Df

,Job Title,Company,Experience,Location
1,Data Analyst I,Cerner,5-10 Yrs,Bangalore/Bengaluru
2,Hiring For Data Analyst I(SQL & Python),Clario India Pvt Ltd,0-2 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst,Capco,4-8 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Flipkart,3-8 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
8,Looking For Data Analyst - Remote Support,Locuz Enterprise Solutions Ltd,5-10 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
9,Job openings For Data Analyst - AOA,izmo ltd,2-3 Yrs,Bangalore/Bengaluru(4th Phase JP Nagar)
10,Cargill - Data Analyst - Corporate Audit Domai...,Cargill Business Services India Private Limited,6-11 Yrs,Bangalore/Bengaluru

**Q2.Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.**

In [11]:
#Connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')

In [12]:
#passing URL
URL='https://www.naukri.com/'
driver.get(URL)

In [13]:
#Getting search Bar
search_job=driver.find_element_by_class_name('suggestor-input')
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [14]:
#sending keys
search_job.send_keys("Data Scientist")
search_loc.send_keys("Bangalore")

In [15]:
#getting Search button
search_bt=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [16]:
#clicking the button
search_bt.click()

In [17]:
#Extracting job title
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
#Extracting Location
job_location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
#Extracting Company name
comp_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [18]:
#creating empty lists to fill data
jb=[]
loc=[]
comp=[]
for i in job_title:
    jb.append(i.text)
for i in job_location:
    loc.append(i.text)
for i in comp_name:
    comp.append(i.text)

In [19]:
#checking the length of the lists
print(len(comp))
print(len(jb))
print(len(loc))

20
20
20

In [20]:
#creating a Dictionary & DataFrame
dicts={"Job Title":jb,"Location":loc,"Company":comp}
Df=pd.DataFrame(dicts,list(range(1,21)))
Df=Df.iloc[:10,:]
Df

,Job Title,Location,Company
1,Sr Data Scientist,Bangalore/Bengaluru,Uber
2,HCL Tech Opening - Lead Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",HCL
3,Senior Data Scientist Payments,Bangalore/Bengaluru,AirSeva
4,Senior Data Scientist (R Programming),Remote,Ignitho
5,Data Scientist/Senior Data Scientist - Python,Bangalore/Bengaluru,ApicalGo Consultancy
6,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Altimax Business Solutions
7,Sr . Data Scientist,Bangalore/Bengaluru,Visa
8,Need Data scientists and data engineers - WFH-...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Covalense Technologies Private Limited
9,Data Scientist,Bangalore/Bengaluru,AirSeva
10,Data Scientist,"New Delhi, Gurgaon/Gurugram, Bangalore/Bengalu...",Korea Trade Center

**Q3: In this question you have to scrape data using the filters available on the webpage as shown below:You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company name, experience required.The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs**

In [21]:
#connecting to the driver
driver=webdriver.Chrome('chromedriver.exe')

In [22]:
#Passing URL
Url='https://www.naukri.com/'
driver.get(Url)

In [23]:
#Getting the search bar to feed details
search_Job=driver.find_element_by_class_name('suggestor-input')

In [24]:
#sending keys
search_Job.send_keys("Data Scientist")

In [25]:
#Getting the Search button
search_B=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [26]:
#clicking the button
search_B.click()

In [28]:
#connecting to the filter (location)
Chec_Delhi=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
Chec_Delhi.click()

In [31]:
#connecting to the filter (Salary)
Chec_salary=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
Chec_salary.click()

In [32]:
#extarcting the required data
job_Title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
experience_required=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [33]:
#checking length of lists
print(len(job_Title))
print(len(job_location))
print(len(company_name))
print(len(experience_required))

20
20
20
20

In [34]:
#creating empty lists and feeding data in them
jbt=[]
jbl=[]
cns=[]
er=[]
for i in job_Title:
    jbt.append(i.text)
for i in job_location:
    jbl.append(i.text)
for i in company_name:
    cns.append(i.text)
for i in experience_required:
    er.append(i.text)

In [35]:
#creating dictionary
Dct={"Job Title":jbt,"Location":jbl,"Company":cns,"Experience":er}
DF=pd.DataFrame(Dct,index=list(range(1,21)))
DF=DF.iloc[:10,:]
DF

,Job Title,Location,Company,Experience
1,"Excellent Opportunity For Freshers For AI/ML, ...","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",NTT Data,0-0 Yrs
2,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
3,Hiring For Senior Data Scientist-Noida,"Noida, New Delhi, Greater Noida",Lumiq.ai,2-6 Yrs
4,Data Scientist,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Mount Talent Consulting Private Limited,1-4 Yrs
5,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
6,Data Scientist _NLP,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ...",EXL,3-8 Yrs
7,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
8,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
9,Only Fresher / Python Data Scientist / Trainee...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services,0-0 Yrs
10,Lead Data Scientist,Delhi / NCR\n(WFH during Covid),Indihire HR Consultants Private Limited,2-4 Yrs

 **Q4.Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1.Brand
2.Product Description
3.Price:**

In [36]:
#connecting to the driver
driver=webdriver.Chrome('chromedriver.exe')

In [37]:
#passing the URL
URl='https://www.flipkart.com/'
driver.get(URl)

In [38]:
#closing the bar which pops at starting
close_bar=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
close_bar.click()
#extracting the search bar
Search_bar=driver.find_element_by_class_name('_3704LK')
#sending keys
Search_bar.send_keys('Sunglasses')

In [39]:
#clicking the search button
Search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
Search_btn.click()

In [40]:
#Creating empty lists to feed details and extracting the required details from web-page
Pro_name=[]
price=[]
offer=[]
description=[]
NEXT=driver.find_element_by_class_name("_1LKTO3")
for i in range(3):
    print('Best of Luck')
    pr_name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    pr_pr=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    pr_of=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    pr_desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for j in range(40):
        if len(Pro_name)>100:
            break
        Pro_name.append(pr_name[j].text)
        price.append(pr_pr[j].text)
        offer.append(pr_of[j].text)
        description.append(pr_desc[j].text)
            
##clicking the next button for next page             
    if i==0:
        NEXT.click()
        print('First loop Went Well:Good :)')
        time.sleep(5)
    ##The next button for second page is difeerent so passing that also
    elif i==1:
        NEXT2=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
        NEXT2.click()
        time.sleep(6)
        print('Second loop went well')
print('Done!!')

Best of Luck
First loop Went Well:Good :)
Best of Luck
Second loop went well
Best of Luck
Done!!

In [41]:
#Checking the length of lists 
print(len(Pro_name))
print(len(price))
print(len(offer))
print(len(description))

101
101
101
101

In [42]:
#creating dictionary and dataframe
Dictss={"Product":Pro_name[:100],
        "Price":price[:100],
        "Offer Available":offer[:100],
        "Description":description[:100]}
DFF=pd.DataFrame(Dictss)

In [43]:
DFF

,Product,Price,Offer Available,Description
0,SRPM,₹198,84% off,UV Protection Wayfarer Sunglasses (50)
1,SUNBEE,₹253,80% off,"UV Protection, Polarized Wayfarer Sunglasses (..."
2,PIRASO,₹229,85% off,UV Protection Aviator Sunglasses (54)
3,Elligator,₹258,89% off,UV Protection Round Sunglasses (54)
4,New Specs,₹232,91% off,UV Protection Rectangular Sunglasses (Free Size)
...,...,...,...,...
95,Rich Club,₹225,71% off,"UV Protection, Mirrored, Gradient Round Sungla..."
96,ROZZETTA CRAFT,₹307,84% off,"UV Protection, Gradient Retro Square Sunglasse..."
97,kingsunglasses,₹159,84% off,"UV Protection, Mirrored Wayfarer Sunglasses (F..."
98,ROZZETTA CRAFT,₹426,80% off,"UV Protection, Riding Glasses Rectangular Sung..."
99,IDEE,₹839,56% off,UV Protection Rectangular Sunglasses (58)

**Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:**

In [44]:
#connecting to the driver
driver=webdriver.Chrome('chromedriver.exe')

In [45]:
#passing the URL
URL='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(URL)

In [46]:
#clicking the all reviews button
R_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
R_btn.click()

In [47]:
#Creating empty lists to feed details and extracting the required details from web-page
rating=[]
Review=[]
freview=[]
for i in range(12):
    rats=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    f_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    print('Lets go')
    for j in range(len(rats)):
        if len(rating)>99:
            break
        elif i==3 and j==2:
            continue
        elif i==5 and j==1:
            continue
        elif i==6 and j==1:
            continue
        elif i==7 and j==1:
            continue
        elif i==8 and j==9:
            continue
        elif i==7 and j==4:
            continue
           
        Review.append(review[j].text)
        freview.append(f_review[j].text)
        rating.append(rats[j].text)
    if i==0:
        NEXT1=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
        NEXT1.click()
    else:
        NEXT2=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
        NEXT2.click()
    print("page",i+1,"Done")
    time.sleep(5)

Lets go
page 1 Done
Lets go
page 2 Done
Lets go
page 3 Done
Lets go
page 4 Done
Lets go
page 5 Done
Lets go
page 6 Done
Lets go
page 7 Done
Lets go
page 8 Done
Lets go
page 9 Done
Lets go
page 10 Done
Lets go
page 11 Done
Lets go
page 12 Done

In [48]:
#checking the length of lists
print(len(rating))
print(len(Review))
print(len(freview))

100
100
100

In [49]:
#creating the dictionary and dataframe
Dicts1={"Rating":rating,"Review":Review,"Full Review":freview}
DF1=pd.DataFrame(Dicts1)

In [50]:
DF1

,Rating,Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."
96,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
97,5,Fabulous!,Good product nice experience with Flipkart but...
98,5,Worth every penny,Here is the thing\n\nThe only reason why you s...
99,4,Good quality product,I was torn between the oneplus 8 pro and the i...

**Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.**

In [51]:
#connecting to the driver
driver=webdriver.Chrome('chromedriver.exe')

In [52]:
#passing the URL
url='https://www.flipkart.com/'
driver.get(url)

In [53]:
#closing the pop up box
close_bar=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
close_bar.click()
#extracting the searchg bar
Search_bar=driver.find_element_by_class_name('_3704LK')
Search_bar.send_keys('Sneakers')

In [54]:
#clicking the search button
Search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
Search_btn.click()

In [55]:
#Creating empty lists to feed details and extracting the required details from web-page
Product=[]
desc=[]
price=[]
offer=[]
for i in range(3): 
    print("lets go")
    p_name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    p_desc=driver.find_elements_by_xpath('//a[@target="_blank"]')
    p_pric=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    p_off=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    
    for j in range(40):
        if len(Product)>99:
            break
        Product.append(p_name[j].text)
        desc.append(p_desc[j].text.strip())
        price.append(p_pric[j].text)
        offer.append(p_off[j].text)
    print(i+1,'Went well')
    if i==1 or i==2:
        Next2=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
        Next2.click()
    else:
        time.sleep(2)
        Next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
        Next.click()
    time.sleep(5)

lets go
1 Went well
lets go
2 Went well
lets go
3 Went well

In [56]:
# Checking the length of lists
print(len(Product))
print(len(desc))
print(len(price))
print(len(offer))

100
100
100
100

In [57]:
#craeting the dictionary and dataframe
Dt={"Product":Product,"Description":desc,"Price":price,"Offer Available":offer}
DF_1=pd.DataFrame(Dt)

In [58]:
DF_1

,Product,Description,Price,Offer Available
0,HIGHLANDER,,₹796,60% off
1,HIGHLANDER,Sneakers For Men,₹796,60% off
2,Chevit,"₹796₹1,99060% off\nFree delivery",₹649,59% off
3,World Wear Footwear,,₹199,60% off
4,DUNKASTON,Sneakers For Men,₹339,77% off
...,...,...,...,...
95,RapidBox,,₹640,35% off
96,Rzisbo,Sneakers For Men,₹539,46% off
97,BIRDE,₹259₹69962% off,₹399,60% off
98,Nilatin,,₹649,78% off
99,RapidBox,Sneakers For Men,₹620,37% off

**Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.**

In [59]:
#connecting to the webdriver
driver=webdriver.Chrome('chromedriver.exe')

In [60]:
#passiong the URL
url='https://www.myntra.com/shoes '
driver.get(url)

In [61]:
#Clicking the filter button
filter_color=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter_color.click()

In [62]:
#Creating empty lists to feed details and getting the requiredx details
nm=[]
ds=[]
pric=[]
Next=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]')
for i in range(2):
    k=0
    Name=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    desc=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
    for j in range(50):
        nm.append(Name[j].text)
        ds.append(desc[j].text)
        try:
           pric.append(price[j].text)
        except:
            price_dif=driver.find_elements_by_xpath('//div[@class="product-price"]')
            pric.append(price[k].text)
            k+=1
    if i==1:
        break
    Next.click()
    time.sleep(5)

In [65]:
#Creating Dataframe
Df=pd.DataFrame()
Df["Product Name"]=nm
Df["Description"]=ds
Df["Price"]=pric

In [66]:
Df

             Product Name                     Description     Price
0                    Puma               Men Running Shoes  Rs. 3024
1            Jack & Jones          Men Leather Flat Boots  Rs. 1649
2                    Nike       Men Quest 3 Running Shoes  Rs. 1319
3                Red Tape                 Men Sport Shoes  Rs. 9099
4                    Nike      Men Winflo 7 Running Shoes  Rs. 5395
..                    ...                             ...       ...
95                  TRASE              Women Heeled Boots   Rs. 799
96                   Puma  COMET 2 ALT Beta Running Shoes  Rs. 1094
97  HRX by Hrithik Roshan               Men Running Shoes   Rs. 579
98                   Nike   Kids REVOLUTION Running Shoes  Rs. 1077
99                    H&M              Men Black Sneakers  Rs. 3229

[100 rows x 3 columns]

**Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:**

In [67]:
#connecting to the driver
driver=webdriver.Chrome('chromedriver.exe')

In [68]:
#passing the URL
url='https://www.amazon.in/'
driver.get(url)

In [69]:
#Get the search button and sending the keys
Search_bar=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Search_bar.send_keys('Laptop')

In [70]:
#clicking the search button
Search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
Search_btn.click()

In [71]:
#Get the filter
cpui7=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/span')

In [72]:
#clicking the filter
cpui7.click()

In [73]:
#Extracting thye required details
Title=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
Rating=driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
Price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')

In [74]:
#Creating Empty lists to feed details 
til=[]
Rat=[]
pric=[]
for i in range(len(Title)):
    if i==10:
        break
    else:
        til.append(Title[i].text)
        Rat.append(Rating[i].get_attribute('textContent'))
        pric.append(Price[i].text)

In [75]:
#checking the length of lists 
len(til),len(Rat),len(pric)

(10, 10, 10)

In [76]:
#creating dictionary and DataFrame
dictss={"Title":til,"Rating":Rat,"Price":pric}
DF=pd.DataFrame(dictss)
DF

,Title,Rating,Price
0,LG Gram 16 Ultra-Light Intel Evo 11th Gen Core...,4.4 out of 5 stars,"85,990"
1,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,4.5 out of 5 stars,"96,999"
2,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",4.4 out of 5 stars,"57,490"
3,Mi Notebook Ultra 3.2K Resolution Display Inte...,4.3 out of 5 stars,"77,499"
4,LG Gram 16 inches Intel Evo 11th Gen Core i7 U...,4.4 out of 5 stars,"89,999"
5,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,4.5 out of 5 stars,"96,999"
6,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",5.0 out of 5 stars,"89,990"
7,Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...,3.8 out of 5 stars,"87,990"
8,Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...,4.0 out of 5 stars,"89,990"
9,HP Pavilion 11th Gen Intel Core i7 15.6 inches...,4.2 out of 5 stars,"87,990"

**Q9.Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.**

In [77]:
#connecting to the driver
driver=webdriver.Chrome('chromedriver.exe')

In [78]:
#getting the URL
url='https://www.ambitionbox.com/'
driver.get(url)

In [79]:
#clicking the jobs button 
jobs=driver.find_element_by_xpath('//a[@class="link jobs"]')
jobs.click()

In [80]:
#Getting The Search Bar & Search Button
Search_bar=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
Search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')

In [81]:
#Sending the Keys and clicking the Button
Search_bar.send_keys('Data Scientist')
time.sleep(3)
Search_btn.click()

In [84]:
#filtering the Content on the basis of location
loc_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]')
time.sleep(2)
loc_btn.click()

In [85]:
loc_noida=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label')
time.sleep(2)
loc_noida.click()

In [86]:
#Creating Empty lists to feed the required Details
comp=[]
days=[]
rati=[]
company=driver.find_elements_by_xpath('//a[@class="title noclick"]')
days_ago=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
ratings=driver.find_elements_by_xpath('//span[@class="body-small"]')
for i in range(10):
    comp.append(company[i].text)
    days.append(days_ago[i].text)
    rati.append(ratings[i].get_attribute('textContent'))

In [87]:
#checking the length of lists
len(comp),len(days),len(rati)

(10, 10, 10)

In [88]:
# Creating DataFrame
df=pd.DataFrame()
df['Company']=comp
df['Posted(Days Ago)']=days
df['Rating']=rati
df

,Company,Posted(Days Ago),Rating
0,Data Scientist,Amazon Development Centre (India) Pvt. Ltd.,4.2
1,"HCL is hiring - Data Scientist, Data Science E...",HCL Technologies Limited,3.8
2,HCL Tech Opening - Lead Data Scientist,HCL Technologies Ltd,3.8
3,"Excellent Opportunity For Freshers For AI/ML, ...",NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED,3.9
4,Data Scientist -Immediate Hiring -PAN India,Concentrix Services India Private Limited.,4.1
5,Franklin Templeton - Data Scientist (2-7 yrs),Franklin Templeton,4.2
6,Genpact - Data Scientist - Python/.Net (0-3 yrs),Genpact,4.0
7,Lead - Data Scientist / Analytics,Sutherland Global Services Inc,3.8
8,HCL Tech Opening - Senior Data Scientist,HCL Technologies Ltd,3.8
9,Data Scientist,Cyient Limited,3.7

**Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.**

In [89]:
#Connecting to the Driver
driver=webdriver.Chrome('chromedriver.exe')

In [90]:
#Passing the URL
url='https://www.ambitionbox.com/'
driver.get(url)

In [91]:
#filtering according to salary
salary=driver.find_element_by_xpath('//a[@class="link salaries"]')
time.sleep(3)
salary.click()

In [92]:
#getting the search bar
Search_bar=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [93]:
#sending the keys and clicking the button
Search_bar.send_keys('Data Scientist')
time.sleep(3)
Search_btn=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
Search_btn.click()

In [94]:
#Creating Empty lists to feed details
company_name=[] 
total_salary=[]
average_salary=[] 
minimum_salary=[]
maximum_salary=[]
experience_required=[]
company=driver.find_elements_by_xpath('//a[@data-v-2bae05f7]')
tot_salary=driver.find_elements_by_xpath('//span[@data-v-2bae05f7]')
avg_salary=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
min_salary=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
max_salary=driver.find_elements_by_xpath('//div[@class="salary-values"]')
exp_req=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for i in range(10):
    company_name.append(company[i].text)
    average_salary.append(avg_salary[i].text)
    minimum_salary.append(min_salary[i].text)
    maximum_salary.append('₹'+max_salary[i].text.split('₹')[2])
    experience_required.append(exp_req[i].text.split()[3:5])
for i in range(20):
    if i%2==0:
        total_salary.append(tot_salary[i].text)

In [95]:
#Checking the length of lists
len(company_name),len(average_salary),len(minimum_salary),len(maximum_salary),len(experience_required),len(total_salary)

(10, 10, 10, 10, 10, 10)

In [96]:
#Creating The DataFrame
DF=pd.DataFrame()
DF['Company']=company_name
DF['Experience Required']=experience_required
DF['Total Slary Record']=total_salary
DF['Minimum Salary']=minimum_salary
DF['Maximum Salary']=maximum_salary
DF['Average Salary']=average_salary

In [97]:
DF.set_index('Company')

,Experience Required,Total Slary Record,Minimum Salary,Maximum Salary,Average Salary
Company,,,,,
Ab Inbev,"[3-4, yrs]",based on 28 salaries,₹ 15.0L,₹ 25.5L,₹ 20.3L
ZS,"[2, yrs]",based on 15 salaries,₹ 25.5L,₹ 20.0L,₹ 15.3L
Optum,"[3-4, yrs]",based on 25 salaries,₹ 9.5L,₹ 21.3L,₹ 15.1L
Fractal Analytics,"[2-4, yrs]",based on 77 salaries,₹ 20.0L,₹ 22.0L,₹ 15.1L
Tiger Analytics,"[3-4, yrs]",based on 33 salaries,₹ 11.0L,₹ 20.0L,₹ 14.4L
UnitedHealth,"[2-4, yrs]",based on 52 salaries,₹ 21.3L,₹ 20.5L,₹ 13.9L
Verizon,"[4, yrs]",based on 14 salaries,₹ 9.5L,₹ 21.0L,₹ 12.7L
Ganit Business Solutions,"[4, yrs]",based on 13 salaries,₹ 22.0L,₹ 15.0L,₹ 12.4L
Ericsson,"[3-4, yrs]",based on 43 salaries,₹ 8.3L,₹ 24.0L,₹ 11.9L
Deloitte,"[2-4, yrs]",based on 57 salaries,₹ 20.0L,₹ 23.4L,₹ 11.7L