# Web Scraping Assignment-1

**Q1.Write a python program to display all the header tags from wikipedia.org.**

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
respond=requests.get("https://en.wikipedia.org/wiki/Main_Page")
respond

In [3]:
page=respond.content
soup=BeautifulSoup(page,'html.parser')
z=soup.find_all(['h1','h2','h3','h4','h5','h6'])#The most commonly used HTML tags in webpages are h1, h2 and h3.
headtag=[]
for tags in z:
    headtag.append(tags.text.strip())
headtag

['Main Page',
 'Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'English\nexpanded\ncollapsed',
 'Views',
 'More\nexpanded\ncollapsed',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

**Q2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.**

In [4]:
url='https://www.imdb.com/list/ls091520106/'
respond1=requests.get(url)
respond1.status_code

200

In [5]:
page1=respond1.content
soup1=BeautifulSoup(page1,'html.parser')
Name=soup1.find_all('h3',class_="lister-item-header")
rating=soup1.find_all(class_="ipl-rating-star small")
release=soup1.find_all('span',class_="lister-item-year text-muted unbold")

In [6]:
nm=[]
rt=[]
rls=[]
for i in Name:
    nm.append(i.a.text)
for  i in  rating:
    rt.append(i.text.strip())#removes newline character
for i in  release:
    rls.append(i.text.replace(i.text[0],"").replace(i.text[-1],""))#removes Parenthesis

In [7]:
Rankings={"Movie Name":nm,"Ratings":rt,"Release  Date":rls}

In [8]:
df=pd.DataFrame(Rankings,index=list(range(1,101)))

In [9]:
df

                              Movie Name Ratings Release  Date
1               The Shawshank Redemption     9.3          1994
2                          The Godfather     9.2          1972
3                 The Godfather: Part II       9          1974
4                        The Dark Knight       9          2008
5                           12 Angry Men       9          1957
..                                   ...     ...           ...
96                    North by Northwest     8.3          1959
97                    A Clockwork Orange     8.3          1971
98                                Snatch     8.2          2000
99   Le fabuleux destin d'Amélie Poulain     8.3          2001
100                              The Kid     8.3          1921

[100 rows x 3 columns]

In [10]:
df.head(15)

                                           Movie Name Ratings Release  Date
1                            The Shawshank Redemption     9.3          1994
2                                       The Godfather     9.2          1972
3                              The Godfather: Part II       9          1974
4                                     The Dark Knight       9          2008
5                                        12 Angry Men       9          1957
6                                    Schindler's List     8.9          1993
7       The Lord of the Rings: The Return of the King     8.9          2003
8                                        Pulp Fiction     8.9          1994
9                     Il buono, il brutto, il cattivo     8.8          1966
10                                         Fight Club     8.8          1999
11                                              Joker     8.4        I 2019
12  The Lord of the Rings: The Fellowship of the Ring     8.8          2001
13                                       Forrest Gump     8.8          1994
14                                          Inception     8.8          2010
15                            The Empire Strikes Back     8.7          1980

**Q3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame**

In [11]:
url1='https://www.imdb.com/india/top-rated-indian-movies/'
respond2=requests.get(url1)
respond2.status_code

200

In [12]:
page2=respond2.content
soup2=BeautifulSoup(page2,'html.parser')

In [13]:
Name1=soup2.find_all('td',class_="titleColumn")
Rating1=soup2.find_all('td',class_="ratingColumn imdbRating")
Release1=soup2.find_all('span',class_="secondaryInfo")

In [14]:
nm1=[]
rt1=[]
rls1=[]
for i in Name1:
    nm1.append(i.a.text)
for i in Rating1:
    rt1.append(i.text.strip())
for  i in Release1:
    rls1.append(i.text.replace(i.text[0],'').replace(i.text[-1],""))

In [15]:
Hindi_Movies={"Movie Name":nm1[:100],"Ratings":rt1[:100],'Release Date':rls1[:100]}
df1=pd.DataFrame(Hindi_Movies,index=list(range(1,101)))

In [16]:
df1

                   Movie Name Ratings Release Date
1           Pariyerum Perumal     8.5         2018
2                     Nayakan     8.5         1987
3           C/o Kancharapalem     8.5         2018
4                  Anbe Sivam     8.5         2003
5                    Kireedam     8.5         1989
..                        ...     ...          ...
96                  Charulata     8.1         1964
97                  Sarfarosh     8.1         1999
98   Uri: The Surgical Strike     8.1         2019
99                       Roja     8.1         1992
100           Rang De Basanti     8.1         2006

[100 rows x 3 columns]

In [17]:
df1.head(10)

           Movie Name Ratings Release Date
1   Pariyerum Perumal     8.5         2018
2             Nayakan     8.5         1987
3   C/o Kancharapalem     8.5         2018
4          Anbe Sivam     8.5         2003
5            Kireedam     8.5         1989
6    Manichitrathazhu     8.5         1993
7            Jai Bhim     8.5         2021
8             Golmaal     8.5         1979
9         Apur Sansar     8.5         1959
10          Natsamrat     8.4         2016

**Q4.) Write a python program to scrape product name, price and discounts from https: //meesho .com/bagsladies/pl/p7vbp.**

In [18]:
url2='https://meesho.com/bags-ladies/pl/p7vbp'
respond3=requests.get(url2)
respond3.status_code

200

In [19]:
page3=respond3.content
soup3=BeautifulSoup(page3,"html.parser")

In [20]:
Name2=soup3.find_all(class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")
Price=soup3.find_all(class_="Text__StyledText-sc-oo0kvp-0 hiHdyy")
Discount=soup3.find_all(class_="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm")

In [21]:
nm2=[]
pr=[]
dis=[]
for i in Name2:
    nm2.append(i.text)
for i in Price:
    pr.append(i.text)
for i in Discount:
    dis.append(i.text)

In [22]:
Meesho={"Bag Name":nm2,"Price":pr,"Discount":dis}
df2=pd.DataFrame(Meesho,index=list(range(1,21)))

In [23]:
df2

,Bag Name,Price,Discount
1,Ravishing Fancy Women Handbags,₹255,₹100 discount on 1st order
2,Graceful Classy Women Handbags,₹328,₹100 discount on 1st order
3,Elite Classy Women Handbags,₹332,₹100 discount on 1st order
4,Graceful Versatile Women Handbags,₹574,₹100 discount on 1st order
5,Voguish Attractive Women Handbags,₹458,₹100 discount on 1st order
6,Elegant Versatile Women Handbags,₹1045,₹100 discount on 1st order
7,Elegant Versatile Women Handbags,₹177,₹75 discount on 1st order
8,Ravishing Attractive Women Handbags,₹384,₹100 discount on 1st order
9,Elegant Fashionable Women Handbags,₹199,₹84 discount on 1st order
10,Elite Versatile Women Handbags,₹313,₹100 discount on 1st order
11,Gorgeous Classy Women Handbags,₹349,₹100 discount on 1st order
12,Elite Stylish Women Handbags,₹550,₹100 discount on 1st order
13,Elegant Fancy Women's Bags,₹189,₹80 discount on 1st order
14,Trendy Classy Women Handbags,₹415,₹100 discount on 1st order
15,Gorgeous Attractive Women Handbags,₹196,₹84 discount on 1st order
16,Elegant Fancy Women'S Pu Leather Hand Bags,₹175,₹75 discount on 1st order
17,Ravishing Alluring Women Handbags,₹130,₹55 discount on 1st order
18,Elite Fancy Women Handbags,₹140,₹60 discount on 1st order
19,Elegant Classy Women Handbags,₹319,₹100 discount on 1st order
20,Classic Classy Women Handbags,₹231,₹99 discount on 1st order

**Q5.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:**

   ***a) Top 10 ODI teams in men’s cricket along with the records for matches, points and              rating.***

   ***b) Top 10 ODI Batsmen along with the records of their team and rating.***

   
   ***c) Top 10 ODI bowlers along with the records of their team and rating.***

*ODI Team Ranking (Men)*

In [24]:
Url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
respond=requests.get(Url)
respond.status_code

200

In [25]:
Page=respond.content
soup=BeautifulSoup(Page,'html.parser')

In [26]:
Tname=soup.find_all('span',class_="u-hide-phablet")
match=soup.find_all('td')

In [27]:
pos=[]
mtch=[]
poin=[]
ratin=[]
tnam=[]
for i in range(len(match)):
    if i%5==0:
        pos.append(match[i].text)
    elif i%5==2:
        mtch.append(match[i].text)
    elif i%5==3:
        poin.append(match[i].text)
    elif i%5==4:
        ratin.append(match[i].text.strip())
for i in Tname:
    tnam.append(i.text.strip())

In [28]:
Details={"Rank":pos[:10],"Team":tnam[:10],"Matches":mtch[:10],"Points":poin[:10],"Rating":ratin[:10]}
Df=pd.DataFrame(Details).set_index('Rank')

In [29]:
Df

              Team Matches Points Rating
Rank
1      New Zealand      17  2,054    121
2          England      32  3,793    119
3        Australia      28  3,244    116
4            India      38  4,162    110
5     South Africa      28  2,943    105
6         Pakistan      27  2,524     93
7       Bangladesh      32  2,973     93
8        Sri Lanka      35  2,835     81
9      West Indies      36  2,788     77
10     Afghanistan      22  1,419     65

*ODI Batting Ranking (Men)*

In [30]:
URl='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
respond=requests.get(URl)
respond.status_code

200

In [31]:
Page=respond.content
soup=BeautifulSoup(Page,'html.parser')

In [32]:
Pnam=soup.find_all('td')

In [33]:
nme=[]
tm=[]
rtn=[]
for i in range(len(Pnam)):
    if i%5==1:
        nme.append(Pnam[i].text.strip())
    elif i%5==2:
        tm.append(Pnam[i].text.strip())
    elif i%5==3:
        rtn.append(Pnam[i].text.strip())

In [34]:
Rank={"Player":nme[:10],"Team":tm[:10],"Rating":rtn[:10]}
DF=pd.DataFrame(Rank,index=list(range(1,11)))

In [35]:
DF

                   Player Team Rating
1              Babar Azam  PAK    873
2             Virat Kohli  IND    811
3            Rohit Sharma  IND    791
4         Quinton de Kock   SA    783
5             Aaron Finch  AUS    779
6          Jonny Bairstow  ENG    775
7            David Warner  AUS    762
8   Rassie van der Dussen   SA    750
9            Fakhar Zaman  PAK    741
10               Joe Root  ENG    740

*ODI Bowling Ranking*

In [36]:
URL='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
respond=requests.get(URL)
respond.status_code

200

In [37]:
Page=respond.content
soup=BeautifulSoup(Page,'html.parser')

In [38]:
Bnam=soup.find_all('td')

In [39]:
nm=[]
tm1=[]
rtn1=[]
for i in range(len(Bnam)):
    if i%5==1:
        nm.append(Bnam[i].text.strip())
    elif i%5==2:
        tm1.append(Bnam[i].text.strip())
    elif i%5==3:
        rtn1.append(Bnam[i].text.strip())

In [40]:
Ranks={"Player":nm[:10],"Team":tm1[:10],"Rating":rtn1[:10]}
DF1=pd.DataFrame(Ranks,index=list(range(1,11)))

In [41]:
DF1

              Player Team Rating
1        Trent Boult   NZ    737
2     Josh Hazlewood  AUS    709
3       Chris Woakes  ENG    700
4   Mujeeb Ur Rahman  AFG    697
5       Mehedi Hasan  BAN    692
6         Matt Henry   NZ    691
7     Jasprit Bumrah  IND    679
8     Mitchell Starc  AUS    652
9    Shakib Al Hasan  BAN    650
10      Andy McBrine  IRE    646

**Q6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:**

**a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.**

**b) Top 10 women’s ODI Batting players along with the records of their team and rating.**

**c) Top 10 women’s ODI all-rounder along with the records of their team and rating**

 *ODI Team Ranking (Women)*

In [42]:
Url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
respond=requests.get(Url)
respond.status_code

200

In [43]:
Page=respond.content
soup=BeautifulSoup(Page,'html.parser')

In [44]:
Tname=soup.find_all('span',class_="u-hide-phablet")
match=soup.find_all('td')

In [45]:
pos=[]
mtch=[]
poin=[]
ratin=[]
tnam=[]
for i in range(len(match)):
    if i%5==0:
        pos.append(match[i].text)
    elif i%5==2:
        mtch.append(match[i].text)
    elif i%5==3:
        poin.append(match[i].text)
    elif i%5==4:
        ratin.append(match[i].text.strip())
for i in Tname:
    tnam.append(i.text.strip())

In [46]:
Details={"Rank":pos[:10],"Team":tnam[:10],"Matches":mtch[:10],"Points":poin[:10],"Rating":ratin[:10]}
Df=pd.DataFrame(Details).set_index('Rank')

In [47]:
Df

              Team Matches Points Rating
Rank
1        Australia      20  3,263    163
2     South Africa      21  2,580    123
3          England      21  2,474    118
4            India      22  2,221    101
5      New Zealand      24  2,342     98
6       Bangladesh       5    475     95
7      West Indies      21  1,801     86
8         Pakistan      19  1,304     69
9          Ireland       5    240     48
10       Sri Lanka       5    233     47

*ODI Batting Ranking (Women)*

In [48]:
URl='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
respond=requests.get(URl)
respond.status_code

200

In [49]:
Page=respond.content
soup=BeautifulSoup(Page,'html.parser')

In [50]:
Bnam=soup.find_all('td')

In [51]:
nme=[]
tm=[]
rtn=[]
for i in range(len(Pnam)):
    if i%5==1:
        nme.append(Pnam[i].text.strip())
    elif i%5==2:
        tm.append(Pnam[i].text.strip())
    elif i%5==3:
        rtn.append(Pnam[i].text.strip())

In [52]:
Rank={"Player":nme[:10],"Team":tm[:10],"Rating":rtn[:10]}
DF=pd.DataFrame(Rank,index=list(range(1,11)))

In [53]:
DF

                   Player Team Rating
1              Babar Azam  PAK    873
2             Virat Kohli  IND    811
3            Rohit Sharma  IND    791
4         Quinton de Kock   SA    783
5             Aaron Finch  AUS    779
6          Jonny Bairstow  ENG    775
7            David Warner  AUS    762
8   Rassie van der Dussen   SA    750
9            Fakhar Zaman  PAK    741
10               Joe Root  ENG    740

*ODI Bowling Ranking*

In [54]:
Url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
respond=requests.get(Url)
respond.status_code

200

In [55]:
Page=respond.content
soup=BeautifulSoup(Page,'html.parser')

In [56]:
Bnam=soup.find_all('td')

In [57]:
nm=[]
tm1=[]
rtn1=[]
for i in range(len(Bnam)):
    if i%5==1:
        nm.append(Bnam[i].text.strip())
    elif i%5==2:
        tm1.append(Bnam[i].text.strip())
    elif i%5==3:
        rtn1.append(Bnam[i].text.strip())

In [58]:
Ranks={"Player":nm[:10],"Team":tm1[:10],"Rating":rtn1[:10]}
DF1=pd.DataFrame(Ranks,index=list(range(1,11)))

In [59]:
DF1

               Player Team Rating
1       Jess Jonassen  AUS    762
2   Sophie Ecclestone  ENG    746
3        Megan Schutt  AUS    735
4      Jhulan Goswami  IND    723
5      Shabnim Ismail   SA    689
6        Ellyse Perry  AUS    663
7      Ayabonga Khaka   SA    661
8      Marizanne Kapp   SA    660
9     Katherine Brunt  ENG    648
10         Kate Cross  ENG    603

**Q7.Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
and the code for the video from the link for the youtube video from the post.**

In [60]:
URL='https://coreyms.com/'
responses=requests.get(URL)
responses.status_code

200

In [61]:
PAGE=responses.content
SOUP=BeautifulSoup(PAGE,'html.parser')
Heading=SOUP.find_all('h2')
Date=SOUP.find_all('time',class_="entry-time")
Content=SOUP.find_all('div',class_="entry-content")
link=SOUP.find_all('iframe',class_="youtube-player")

In [62]:
header=[]
date=[]
content=[]
links=[]
for i in Heading:
    header.append(i.text)
for i in Date:
    date.append(i.text)
for i in Content:
    content.append(i.text.strip())
for i in link:
    links.append(i['src'])

In [63]:
header

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [64]:
date

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [65]:
content

['In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…',
 'In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…',
 'In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…',
 'In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…',
 'Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube',
 'In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on MacOS – https://youtu.be/06I63_p-2A4\nTimestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on Windows – https://youtu.be/-nh9rCzPJ20\nTimestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42',
 'In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…']

In [66]:
links

['https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent']

**Q8.Write a python program to scrape house details from mentioned URL. It should include house title, location,
area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,
Rajaji Nagar.**

In [67]:
URL='https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Rajajinagar,&locality=Jayanagar'
respond=requests.get(URL)
respond.status_code

200

In [68]:
Page=respond.content
Soup=BeautifulSoup(Page,'html.parser')

In [69]:
htitle=Soup.find_all('h2')
location=Soup.find_all(class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95")
area=Soup.find_all('div',{'id':"minRent"})
Emi=Soup.find_all('div', { "id" : "roomType" })
price=Soup.find_all('div',{'id':'minDeposit'})
Emi[0].text

'₹2.06 Lacs/Month'

In [70]:
h=[]
loc=[]
ar=[]
emi=[]
pri=[]
for i in htitle:
    h.append(i.text)
for i  in location:
    loc.append(i.text)
for i in area:
    ar.append(i.text)
for i in Emi:
    emi.append(i.text)
for  i in price:
    pri.append(i.span.text)

In [72]:
HouseDetails={"Title":h,"Location":loc,'Area':ar,"Price":pri,"EMI":emi}
DFH=pd.DataFrame(HouseDetails,index=list(range(1,len(h)+1)))

In [73]:
DFH

,Title,Location,Area,Price,EMI
1,"3 BHK Flat For Sale In Sobha Indraprastha, R...","Minerva Mills Compound,Opposite Sujata Theatre...","2,200 sqft",₹3.6 Crores,₹2.06 Lacs/Month
2,3 BHK Flat For Sale In Sgrr Pallavi Pristin...,"11th Main Road,36 Cross, 4th T Block, Near ,Po...","1,340 sqft",₹1.3 Crores,"₹74,508/Month"
3,2 BHK In Independent House For Sale In 9th B...,"Independent House, 41 A Cross, 18th Main, Jaya...","1,500 sqft",₹1.15 Crores,"₹65,911/Month"
4,3 BHK Flat For Sale In Total Environment Lif...,"30th Cross Rd, 4th T Block , Jayanagar, Bengal...","2,628 sqft",₹3 Crores,₹1.72 Lacs/Month
5,4 BHK In Independent House For Sale In Jayan...,"Independent House, 47th Cross Rd, 8th Block, 1...","3,700 sqft",₹9.5 Crores,₹5.44 Lacs/Month

**Q9.Write a python program to scrape mentioned details from dineout.co.in:**


i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [74]:
URL="https://www.dineout.co.in/delhi-restaurants/welcome-back"
respond=requests.get(URL)
respond.status_code

200

In [75]:
Page=respond.content
Soup=BeautifulSoup(Page,'html.parser')

In [76]:
Rname=Soup.find_all(class_="restnt-name ellipsis")
Cuisine=Soup.find_all('span',class_="double-line-ellipsis")
Location=Soup.find_all(class_="restnt-loc ellipsis")
Rating=Soup.find_all(class_="restnt-rating rating-4")
imageurl=Soup.find_all('img',class_="no-img")

In [77]:
rnm=[]
cui=[]
loc=[]
rtn=[]
img=[]
for i in Rname:
    rnm.append(i.text)
for i in Cuisine:
    cui.append(i.text.split('|')[1])
for i in Rating:
    rtn.append(i.text)
for i in imageurl:
    img.append(i['data-src'])
for i in Location:
    loc.append(i.text)

In [78]:
Details={'Restaurant':rnm,"Cuisine":cui,"Location":loc,"Rating":rtn,"Image":img}
Df=pd.DataFrame(Details,index=list(range(1,22)))

In [79]:
Df

,Restaurant,Cuisine,Location,Rating,Image
1,Tamasha,"Continental, Finger Food, Asian, Italian, Nor...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
2,Local,"North Indian, Italian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,The G.T. ROAD,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,Ministry Of Beer,"Italian, Chinese, North Indian, Continental, ...","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
6,Out Of The Box Courtyard,"North Indian, Oriental , American, Chinese, C...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,The Junkyard Cafe,"Mediterranean, North Indian, Asian, Italian, ...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,Connaught Clubhouse Microbrewery,"North Indian, Italian, Asian, European, Mughlai","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Chili's American Grill and Bar,"Mexican, American, Tex Mex, Tex Mex","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,High 5 - Everyday Wholesale Bar,"North Indian, Continental, Chinese","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque Nation,"North Indian, Barbecue, Mughlai","Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...
12,QBA,"North Indian, Oriental , Continental, Italian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
13,Sandoz,"North Indian, Chinese, Mughlai","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
14,38 Barracks,"North Indian, Chinese, Continental, Fast Food","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
15,Farzi Cafe,"Modern Indian, Continental, Finger Food","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
16,Cafe Delhi Heights,"Continental, Modern Indian, Italian, Chinese","Janpath, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
17,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Continental, Italian","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
18,My Bar Square,"Finger Food, Chinese, Continental, Italian","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
19,Warehouse Cafe,"Fusion, North Indian, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
20,Chido,"North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
21,Caffe Tonino,Italian,"PVR Plaza,Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...

**Q10. Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .**

In [80]:
UrL='https://www.bewakoof.com/women-tshirts?ga_q=tshirts&sort=new'
respond=requests.get(UrL)
respond.status_code

200

In [81]:
Page=respond.content
Soup=BeautifulSoup(Page,'html.parser')

In [82]:
Product=Soup.find_all('h3')
price=Soup.find_all('b')
img=Soup.find_all('img')

In [83]:
pr=[]
pri=[]
imgs=[]
for i in Product:
    pr.append(i.text)
for i in price:
    pri.append(i.text)
for i in img:
    imgs.append(i['src'])

In [84]:
Tshirt={"Product":pr[:10],'Price':pri[:10],'Image':imgs[:10]}
Df=pd.DataFrame(Tshirt,index=list(range(1,11)))

In [85]:
Df

,Product,Price,Image
1,Busy Doing Nothing Half Sleeve T-shirt,199,https://images.bewakoof.com/web/bewakoof-prima...
2,Yoga se Hoga Women's Half Sleeve T-Shirt,₹179,https://images.bewakoof.com/web/search-glass.png
3,Cuteness Superpower Half Sleeve T-Shirt,299,https://images.bewakoof.com/web/heart-wishlist...
4,Stay Classy Minnie Half Sleeve T-Shirt (DL),₹279,https://images.bewakoof.com/web/shopping-bag.png
5,Stay Classy Minnie Half Sleeve Printed T-shirt...,299,https://images.bewakoof.com/t320/busy-doing-no...
6,I'm Amazing Half Sleeve T-Shirt (TJL),₹279,https://images.bewakoof.com/t320/yoga-se-hoga-...
7,Minnie Mood Half Sleeve T-Shirt (DL),199,https://images.bewakoof.com/t320/cuteness-supe...
8,Climbing pocket panda Half Sleeve Printed T-shirt,₹179,https://images.bewakoof.com/t320/stay-classy-m...
9,Powered By Coffee Half Sleeve Printed T-shirt,299,https://images.bewakoof.com/t320/stay-classy-m...
10,Tweety Origami Half Sleeve Printed T-shirt (LTL),₹279,https://images.bewakoof.com/t320/i-m-amazing-t...